In [1]:
import pandas as pd
import numpy as np
import matplotlib
from matplotlib import pyplot as plt

In [5]:
Sales = pd.read_excel('Superstore.xls', index_col=0)

print(type())
#Sales.head()
Sales.describe()

,Order ID,Order Quantity,Sales,Discount,Profit,Unit Price,Shipping Cost,Zip Code,Product Base Margin
count,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8336.000000
mean,29965.179783,25.571735,1775.878179,0.049671,181.184422,89.346259,12.838557,52839.139421,0.512513
std,17260.883447,14.481071,3585.050525,0.031823,1196.653326,290.354383,17.264052,28509.535635,0.135589
min,3.000000,1.000000,2.240000,0.000000,-14140.701600,0.990000,0.490000,1001.000000,0.350000
25%,15011.500000,13.000000,143.195000,0.020000,-83.315000,6.480000,3.300000,30337.000000,0.380000
50%,29857.000000,26.000000,449.420000,0.050000,-1.500000,20.990000,6.070000,52732.000000,0.520000
75%,44596.000000,38.000000,1709.320000,0.080000,162.748000,85.990000,13.990000,77577.000000,0.590000
max,59973.000000,50.000000,89061.050000,0.250000,27220.690000,6783.020000,164.730000,99362.000000,0.850000