# Project Start Here

In [3]:
import requests as re
import pandas as pd
import numpy as np
import json
import math
from pandas.io.json import json_normalize

## get the data
---
- Get the data by api.
- Save the data as 'raw.csv', which is the raw data ready for data preporcessing.
---
Totaly 2,000 pics of data sorted by time from resent to past.

In [11]:
def get_data():
    zed_index = '?'
    include_sold = '1'
    page_number = 1
    listing_status = 'sale'
    page_size = '100'
    order_by = 'age'
    area = 'somerset'
    api_key = 'hzxt3c3w339feeah3w8knbpu'
    
    save_list = []
    for page_number in range(1, 59):
        url = f"http://api.zoopla.co.uk/api/v1/property_listings.js?zed_index=?&include_sold=1&page_number={page_number}&listing_status=sale&page_size=100&order_by=age&area=somerset&api_key=9dud55d9tr4ptf7umqt4rmf6"
        response = re.get(url)
        json_list = response.json()['listing']
        save_list += json_list
        
    df = json_normalize(save_list)
    df.to_csv('raw.csv')

In [ ]:
        #df = json_normalize(response.json()['listing'])

In [12]:
## Load Raw Data
get_data()

In [13]:
raw = pd.read_csv('raw.csv')

In [14]:
raw

,Unnamed: 0,agent_address,agent_logo,agent_name,agent_phone,bills_included,category,country,country_code,county,...,price_change,price_change_summary.direction,price_change_summary.last_updated_date,price_change_summary.percent,price_modifier,property_type,short_description,status,street_name,thumbnail_url
0,0,"Norton House, 74-76 High Street, Midsomer Nort...",https://st.zoocdn.com/zoopla_static_agent_logo...,Andrews - Midsomer Norton,01761 231187,NaN,Residential,England,gb,Bath & N E Somerset,...,"[{'direction': '', 'date': '2019-06-18 01:22:5...",NaN,NaN,NaN,NaN,Detached bungalow,This substantial detached residence is situate...,for_sale,Midsomer Norton,https://lid.zoocdn.com/80/60/ee2473a22760dc11d...
1,1,"Nationwide Estate Agent, Head Office: Suite 7,...",https://st.zoocdn.com/zoopla_static_agent_logo...,"Purplebricks, Head Office",024 7511 8874,NaN,Residential,England,gb,North Somerset,...,"[{'direction': '', 'date': '2019-06-17 23:00:1...",NaN,NaN,NaN,NaN,Flat,PurpleBricks are pleased to offer this spaciou...,for_sale,Park Place,https://lid.zoocdn.com/80/60/f8259664d28e259b1...
2,2,"13 Waterloo Street, Weston-Super-Mare",https://st.zoocdn.com/zoopla_static_agent_logo...,Stephen & Co,01934 611064,NaN,Residential,England,gb,North Somerset,...,"[{'direction': '', 'date': '2019-06-17 19:15:5...",NaN,NaN,NaN,NaN,Flat,"<p class=""top"">Located in a central position w...",for_sale,16 Hans Price Close,https://lid.zoocdn.com/80/60/388895031e79ed491...
3,3,"21 East Street, Ilminster",https://st.zoocdn.com/zoopla_static_agent_logo...,Symonds & Sampson - Ilminster,01460 312997,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2019-06-17 13:00:1...",NaN,NaN,NaN,guide_price,Detached house,A quintessential former Grade II listed farmho...,for_sale,Ilminster Somerset,https://lid.zoocdn.com/80/60/c9daa516c454ca556...
4,4,"53 High Street, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Connells - Taunton,01823 429046,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2019-06-17 17:47:5...",NaN,NaN,NaN,NaN,Detached house,This stylish four bedroom detached family home...,for_sale,Harp Chase,https://lid.zoocdn.com/80/60/6eceb0adec59cac58...
5,5,"21 Boulevard, Weston-super-Mare",https://st.zoocdn.com/zoopla_static_agent_logo...,Saxons,01934 247818,NaN,Residential,England,gb,North Somerset,...,"[{'direction': '', 'date': '2019-06-17 17:05:4...",NaN,NaN,NaN,NaN,End terrace house,"<p class=""top"">Saxons are pleased to offer thi...",for_sale,Coleridge Road,https://lid.zoocdn.com/80/60/69abd0c6daa01daad...
6,6,"21 Boulevard, Weston-super-Mare",https://st.zoocdn.com/zoopla_static_agent_logo...,Saxons,01934 247818,NaN,Residential,England,gb,North Somerset,...,"[{'direction': '', 'date': '2019-06-17 16:10:2...",NaN,NaN,NaN,NaN,Terraced house,"<p class=""top"">If you are looking for the perf...",for_sale,The Barrows,https://lid.zoocdn.com/80/60/2496e72da35b5f451...
7,7,"52 East Street, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Fox & Sons - Taunton,01823 429045,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2019-06-17 16:20:3...",NaN,NaN,NaN,NaN,Semi-detached house,This home with double parking features an open...,for_sale,Apple Tree Close,https://lid.zoocdn.com/80/60/4bc65cd1fc1a4423b...
8,8,"52 East Street, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Fox & Sons - Taunton,01823 429045,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2019-06-17 16:20:3...",NaN,NaN,NaN,NaN,Semi-detached house,This three-story home offers double parking wi...,for_sale,Apple Tree Close,https://lid.zoocdn.com/80/60/3fb7b376fdc6f8296...
9,9,"The Shopping Parade, Parrett Close, Langport",https://st.zoocdn.com/zoopla_static_agent_logo...,English Homes,01458 521913,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2019-06-17 16:50:3...",NaN,NaN,NaN,offers_over,Detached house,"<p class=""top"">Approx. 4000 sq/ft of space hid...",for_sale,Bush Place,https://lid.zoocdn.com/80/60/9d2572fd854ee1b41...
10,10,"8 Market Place, Wincanton",https://st.zoocdn.com/zoopla_static_agent_logo...,Chaffers Estate Agents,01963 392965,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2019-06-17 16:35:1...",NaN,NaN,NaN,guide_price,Cottage,An beautiful Period House situated in the hear...,for_sale,NaN,https://lid.zoocdn.com/80/60/00f81b38caad8435e...
11,11,"53 High Street, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Connells - Taunton,01823 429046,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2019-06-17 16:48:3...",NaN,NaN,NaN,NaN,Terraced house,Enjoying the height of exclusive living within...,for_sale,Kings Square,https://lid.zoocdn.com/80/60/7b83a19bf47592fd9...
12,12,"53 High Street, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Connells - Taunton,01823 429046,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2019-06-17 16:48:3...",NaN,NaN,NaN,NaN,Town house,Within the peaceful walled gardens of Kings Sq...,for_sale,South Rd,https://lid.zoocdn.com/80/60/6f4ffdc37bedd1729...
13,13,"181 High Street, Worle",https://st.zoocdn.com/zoopla_static_agent_logo...,Palmer Snell - Worle,01934 247819,NaN,Residential,England,gb,North Somerset,...,"[{'direction': '', 'date': '2019-06-17 14:10:3...",NaN,NaN,NaN,NaN,Terraced house,This nearly new three bedroom terraced propert...,for_sale,Weston-Super-Mare Somerset,https://lid.zoocdn.com/80/60/542242f3a66c8690a...
14,14,"181 High Street, Worle",https://st.zoocdn.com/zoopla_static_agent_logo...,Palmer Snell - Worle,01934 247819,NaN,Residential,England,gb,North Somerset,...,"[{'direction': '', 'date': '2019-06-17 14:10:3...",NaN,NaN,NaN,NaN,Detached house,This extended four bedroom detached is offered...,for_sale,Weston-Super-Mare Somerset,https://lid.zoocdn.com/80/60/6e71900e14b1ad435...
15,15,"The Shopping Parade, Parrett Close, Langport",https://st.zoocdn.com/zoopla_static_agent_logo...,English Homes,01458 521913,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2019-06-17 15:36:1...",NaN,NaN,NaN,guide_price,Flat,"<p class=""top"">1978 built ground floor 1 bed f...",for_sale,Brookland Road,https://lid.zoocdn.com/80/60/f91a6b1e01d115cc4...
16,16,"52 East Street, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Fox & Sons - Taunton,01823 429045,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2019-06-17 15:20:3...",NaN,NaN,NaN,NaN,Detached house,"Plot 81, The Kea, at Langford Mills is a stunn...",for_sale,Apple Tree Close,https://lid.zoocdn.com/80/60/79e98ba3cb69f5ad7...
17,17,"24 Bath Street, Frome",https://st.zoocdn.com/zoopla_static_agent_logo...,Rogers & Co,01373 470088,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2019-06-17 15:20:2...",NaN,NaN,NaN,guide_price,Terraced house,"<p class=""top"">A perfect little example of a t...",for_sale,Courts Barton,https://lid.zoocdn.com/80/60/7f52db93af13fff78...
18,18,"Barton Court, Upper Borough Walls, Bath",https://st.zoocdn.com/zoopla_static_agent_logo...,Humberts - Somerset,01935 638939,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2019-06-17 15:28:1...",NaN,NaN,NaN,guide_price,Detached house,A substantial and handsome attached 6 bedroom ...,for_sale,Long Street,https://lid.zoocdn.com/80/60/d230ee1c45d963f61...
19,19,"2 Bath Street, Cheddar",https://st.zoocdn.com/zoopla_static_agent_logo...,Laurel and Wylde,01934 247808,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2019-06-17 15:00:1...",NaN,NaN,NaN,NaN,NaN,"<p class=""top"">*** extended semi-detached fami...",for_sale,Masons Way,https://lid.zoocdn.com/80/60/bc73bb37b8a1f2f97...
20,20,"13 The Parade, Minehead",https://st.zoocdn.com/zoopla_static_agent_logo...,Fox & Sons - Minehead,01643 829001,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2019-06-17 14:20:0...",NaN,NaN,NaN,NaN,Flat,Situated in The Esplanade is this beautifully ...,for_sale,Metropole Court,https://lid.zoocdn.com/80/60/9af6d8c38b7dcc737...
21,21,"Nationwide Estate Agent, Head Office: Suite 7,...",https://st.zoocdn.com/zoopla_static_agent_logo...,"Purplebricks, Head Office",024 7511 8874,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2019-06-17 14:52:2...",NaN,NaN,NaN,NaN,Terraced house,PurpleBricks are delighted to offer for sale t...,for_sale,Countess Avenue,https://lid.zoocdn.com/80/60/3236f15622901c42f...
22,22,"114 Hendford Hill, Yeovil",https://st.zoocdn.com/zoopla_static_agent_logo...,Towers Wills,01935 638893,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2019-06-17 14:33:1...",NaN,NaN,NaN,offers_over,Terraced house,Towers Wills welcome to the market a beautiful...,for_sale,NaN,https://lid.zoocdn.com/80/60/2fdebec80e05eb019...
23,23,"21 Boulevard, Weston-super-Mare",https://st.zoocdn.com/zoopla_static_agent_logo...,Saxons,01934 247818,NaN,Residential,England,gb,North Somerset,...,"[{'direction': '', 'date': '2019-06-17 14:08:1...",NaN,NaN,NaN,NaN,Flat,"<p class=""top"">A fantastic opportunity to purc...",for_sale,Arundell Road,https://lid.zoocdn.com/80/60/d412826ead99bdbf8...
24,24,"28 High Street, Bridgwater",https://st.zoocdn.com/zoopla_static_agent_logo...,Brightest Move,01278 285931,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2019-06-17 13:57:2...",NaN,NaN,NaN,NaN,Terraced house,Nicely positioned terraced house within walkin...,for_sale,Blacklands,https://lid.zoocdn.com/80/60/a12a34871b56eb735...
25,25,"14 Princes Street, Yeovil",https://st.zoocdn.com/zoopla_static_agent_logo...,Fox & Sons - Yeovil,01935 388002,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2019-06-17 13:19:5...",NaN,NaN,NaN,offers_over,Detached house,"An executive six bedroom detached family home,...",for_sale,Behind Berry,https://lid.zoocdn.com/80/60/53e13d15345ac7153...
26,26,"19 High Street, Wincanton",https://st.zoocdn.com/zoopla_static_agent_logo...,Hambledon Estate Agents,01963 392001,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2019-06-17 13:22:3...",NaN,NaN,NaN,NaN,Flat,Lattiford House is believed to have been built...,for_sale,Lattiford House,https://lid.zoocdn.com/80/60/15445624761db2d46...
27,27,"Orchards House, 17 North Street Workshops, Sto...",https://st.zoocdn.com/zoopla_static_agent_logo...,Orchards Estates,01935 590151,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2019-06-17 12:26:5...",NaN,NaN,NaN,NaN,Semi-detached house,"<p class=""top"">Semi-detached three bedroom per...",for_sale,Rosebery Avenue,https://lid.zoocdn.com/80/60/8fe3d9f8802cd96e4...
28,28,"16 Princes Street, Yeovil",https://st.zoocdn.com/zoopla_static_agent_logo...,Palmer Snell - Yeovil Sales,01935 590853,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2019-06-17 09:00:2...",NaN,NaN,NaN,offers_over,End terrace house,"<b>Hall</b> x . Radiator, stairs to first fl...",for_sale,Yeovil Somerset,https://lid.zoocdn.com/80/60/8d9035d7d9d01d17a...
29,29,"14 High Street, Wincanton",https://st.zoocdn.com/zoopla_static_agent_logo...,Palmer Snell - Wincanton,01963 392964,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2019-06-17 09:00:2...",NaN,NaN,NaN,NaN,Semi-detached house,A great opportunity to purchase a delightful s...,for_sale,Wincanton Somerset,https://lid.zoocdn.com/80/60/7a1924e8d5b9dbef8...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5725,5725,"10 Sadler Street, Wells",https://st.zoocdn.com/zoopla_static_agent_logo...,Killens,01749 587925,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2017-03-31 19:08:5...",down,2019-06-11 13:53:42,-10.1%,guide_price,Country house,"<p class=""top"">An Award Winning beautifully de...",sold,Grenville Court,https://lid.zoocdn.com/80/60/c839a9eedc949dba5...
5726,5726,"53 High Street, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Connells - Taunton,01823 429046,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2017-03-28 11:21:0...",down,2018-12-20 13:18:47,-1.5%,offers_in_region_of,Detached house,This imposing four bedroom Executive home is l...,for_sale,Mead Way,https://lid.zoocdn.com/80/60/7edefe34c002c7520...
5727,5727,"2 Court Ash, Yeovil",https://st.zoocdn.com/zoopla_static_agent_logo...,Symonds & Sampson - Yeovil,01935 590011,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2017-03-22 11:48:2...",down,2018-05-30 12:56:24,-1.5%,offers_over,End terrace house,A period Grade II Listed end terrace 3 bedroom...,for_sale,Ilchester Yeovil Somerset,https://lid.zoocdn.com/80/60/5a1282de29f17912e...
5728,5728,"Business & Technology Centre, Shifnal Road, Pr...",https://st.zoocdn.com/zoopla_static_agent_logo...,Nu:Move International,01952 476548,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2017-03-21 13:59:3...",NaN,NaN,NaN,from,Flat,Hurst manor | investment opportunity Investmen...,for_sale,NaN,https://lid.zoocdn.com/80/60/69392a56282b65b1d...
5729,5729,"52 East Street, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Fox & Sons - Taunton,01823 429045,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2017-03-09 17:06:2...",NaN,2018-11-15 07:49:06,0%,NaN,Flat,Attention investors! An impressive and well-pr...,for_sale,North Street,https://lid.zoocdn.com/80/60/960acb30ead8545e8...
5730,5730,"St Georgeâ€™s House, 56 Peter Street, Manchester",https://st.zoocdn.com/zoopla_static_agent_logo...,Express Estate Agency,0161 300 3987,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2017-02-20 18:01:0...",down,2019-02-26 18:13:57,-16.6%,guide_price,Maisonette,The Express Estate Agency is proud to offer th...,sold,Illustrious Crescent Ilchester Yeovil,https://lid.zoocdn.com/80/60/dc291032680e628a9...
5731,5731,"39 High Street, Bridgwater",https://st.zoocdn.com/zoopla_static_agent_logo...,Charles Dickens Estate Agents,01278 285001,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2017-02-20 17:35:5...",down,2019-02-19 17:16:57,-9%,NaN,Detached house,"Bush Road, Spaxton, Nr Bridgwater TA5 1BX prov...",for_sale,Bush Road,https://lid.zoocdn.com/80/60/ecce9adf30a8c3adf...
5732,5732,"10 Sadler Street, Wells",https://st.zoocdn.com/zoopla_static_agent_logo...,Killens,01749 587925,NaN,Residential,England,gb,Bath & N E Somerset,...,"[{'direction': '', 'date': '2017-02-17 20:09:0...",NaN,NaN,NaN,guide_price,Detached house,"<p class=""top"">A unique opportunity to purchas...",for_sale,Nedge Hill,https://lid.zoocdn.com/80/60/19afbe5414a2d90a4...
5733,5733,"49-50 East Street, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,"Bradleys Estate Agents, Taunton",01823 760017,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2017-02-14 19:09:1...",down,2019-01-02 21:49:14,-25%,NaN,Flat,Call to book now! A Delightful development of ...,for_sale,Keeper Close Taunton Somerset,https://lid.zoocdn.com/80/60/aefbef728acb65951...
5734,5734,"13 The Parade, Minehead",https://st.zoocdn.com/zoopla_static_agent_logo...,Fox & Sons - Minehead,01643 829001,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2017-01-30 11:34:3...",NaN,NaN,NaN,NaN,Flat,This elegant penthouse apartment offers except...,for_sale,Eversleigh,https://lid.zoocdn.com/80/60/ede4ef3180ba59774...
5735,5735,"13 The Parade, Minehead",https://st.zoocdn.com/zoopla_static_agent_logo...,Fox & Sons - Minehead,01643 829001,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2016-11-02 17:23:4...",down,2019-04-02 13:36:35,-10%,NaN,NaN,A beautifully renovated Grade II Listed conver...,for_sale,St Thomas Street,https://lid.zoocdn.com/80/60/9c40e2339de086946...
5736,5736,"Agriculture House, Market Place, Sturminster N...",https://st.zoocdn.com/zoopla_static_agent_logo...,Symonds & Sampson - Sturminster,01258 470088,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2016-10-31 21:09:3...",down,2018-10-05 20:05:03,-50%,guide_price,NaN,A semi-detached three bedroom property with Ag...,for_sale,Wincanton Somerset,https://lid.zoocdn.com/80/60/3cb4cb50a741b1499...
5737,5737,"39 High Street, Bridgwater",https://st.zoocdn.com/zoopla_static_agent_logo...,Charles Dickens Estate Agents,01278 285001,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2016-10-20 16:40:1...",down,2019-03-22 17:52:48,-7.5%,NaN,Detached house,"Plot 2,16 Crown Lane, Creech Heathfield, Somer...",for_sale,Crown Lane,https://lid.zoocdn.com/80/60/c157e026ddb96554d...
5738,5738,"13 The Parade, Minehead",https://st.zoocdn.com/zoopla_static_agent_logo...,Fox & Sons - Minehead,01643 829001,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2016-10-20 14:23:2...",NaN,NaN,NaN,NaN,Detached house,A rare opportunity to acquire a 6/7 bedroom ho...,sold,Warden Road,https://lid.zoocdn.com/80/60/2b40680969f3d235c...
5739,5739,"Nationwide Estate Agent, Head Office: Suite 7,...",https://st.zoocdn.com/zoopla_static_agent_logo...,"Purplebricks, Head Office",024 7511 8874,NaN,Residential,England,gb,North Somerset,...,"[{'direction': '', 'date': '2016-10-18 10:31:2...",down,2018-11-21 12:01:23,-6.8%,NaN,Detached house,A very well presented three bedroom detached p...,for_sale,Ashleigh Road,https://lid.zoocdn.com/80/60/a3954d17c85b099e5...
5740,5740,"27 High Street, Bridgwater",https://st.zoocdn.com/zoopla_static_agent_logo...,Palmer Snell - Bridgwater,01278 285896,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2016-09-27 13:32:5...",down,2018-07-11 11:39:39,-4.7%,NaN,Bungalow,Situated in the popular Somerset View Caravan ...,for_sale,Taunton Road North Petherton Bridgwater,https://lid.zoocdn.com/80/60/c483b5d9b47d8ec40...
5741,5741,"3 Fore Street, Williton, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Red Deer Country Ltd,01984 636048,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2016-09-21 19:09:0...",down,2019-04-24 23:00:14,-11.1%,NaN,Flat,"<p class=""top"">Newly converted 2 bedroom first...",for_sale,West Street,https://lid.zoocdn.com/80/60/4026b0c75d83982d8...
5742,5742,"13 Waterloo Street, Weston-Super-Mare",https://st.zoocdn.com/zoopla_static_agent_logo...,Stephen & Co,01934 611064,NaN,Residential,England,gb,North Somerset,...,"[{'direction': '', 'date': '2016-09-09 10:32:0...",NaN,NaN,NaN,offers_in_region_of,Flat,"<p class=""top"">Located in an elevated position...",for_sale,12 Atlantic Road,https://lid.zoocdn.com/80/60/629ec21da0aa5c5b5...
5743,5743,"12 South Parade, Weston-super-Mare",https://st.zoocdn.com/zoopla_static_agent_logo...,David Plaister Ltd,01934 247160,NaN,Residential,England,gb,North Somerset,...,"[{'direction': '', 'date': '2016-08-16 18:45:4...",NaN,NaN,NaN,NaN,Detached house,"<p class=""top"">A fine example of a detached, f...",for_sale,Celtic Way,https://lid.zoocdn.com/80/60/0735b9e4a043b0f29...
5744,5744,"183 VICTORIA ROAD, ALDERSHOT",https://st.zoocdn.com/zoopla_static_agent_logo...,Seekers,01252 926858,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2016-08-10 14:46:1...",up,2018-06-13 12:37:06,0%,NaN,Mobile/park home,Open day 8th April 11am to 1pm 2 Bedroom park ...,for_sale,Chilton Park (Ref 5365),https://lid.zoocdn.com/80/60/f0420b8f8e29d745c...
5745,5745,"2 Court Ash, Yeovil",https://st.zoocdn.com/zoopla_static_agent_logo...,Symonds & Sampson - Yeovil,01935 590011,NaN,Residential,England,gb,Somerset,...,"[{'direction': '', 'date': '2016-06-07 12:48:3...",down,2017-09-05 10:08:23,-11.5%,guide_price,Link-detached house,Elmwood Barn was converted in 2003/4 by the cu...,for_sale,Langport Somerset,https://lid.zoocdn.com/80/60/284c6a1927e653185...

### For get data testing
---
Testing the api and csv save method

In [15]:
zed_index = '?'
include_sold = '1'
page_number = 3
listing_status = 'sale'
page_size = '20'
order_by = 'age'
area = 'somerset'
api_key = 'hzxt3c3w339feeah3w8knbpu'

url = 'http://api.zoopla.co.uk/api/v1/property_listings.js?zed_index=?&include_sold=1&page_number=58&listing_status=sale&page_size=100&order_by=age&area=somerset&api_key=9dud55d9tr4ptf7umqt4rmf6'
response = re.get(url)
df = json_normalize(response.json()['listing'])
df['displayable_address']

0     Upper Church Road, Weston-Super-Mare, North So...
1     Locking Road, Weston-Super-Mare, North Somerse...
2                          Burrowbridge, Bridgwater TA7
3                           Western Lane, Minehead TA24
4                              Alfred Street, Wells BA5
5                        Ashcombe Court, Ilminster TA19
6                              Silver Street, Wells BA5
7                            Whiteball, Wellington TA21
8                     Magdalene Street, Glastonbury BA6
9     Greenacres Park, Coppits Hill, Yeovil, Somerse...
10                              Bathealton, Taunton TA4
11                           Monmouth Court, Chard TA20
12                       Brompton Regis, Dulverton TA22
13                   Priory Gardens, Burnham-On-Sea TA8
14                   Eden Croft, Weston-Super-Mare BS24
15                 Station Road, Weston-Super-Mare BS23
16                              Four Forks, Spaxton TA5
17    Ivy House Park (Ref 5613), Henlade, Taunton, S...
18             Knightstone Road, Weston-Super-Mare BS23
19                           Firepool View, Taunton TA1
20           Church Lane, North Perrott, Crewkerne TA18
21                      King Edward Road, Minehead TA24
22                    Northload Street, Glastonbury BA6
23                      Hendford, Yeovil, Somerset BA20
24                     The Arena, Hendford, Yeovil BA20
25           Kingweston Road, Butleigh, Glastonbury BA6
26            Mead Way, Monkton Heathfield, Taunton TA2
27        High Street, Ilchester, Yeovil, Somerset BA22
28                            Hurst Manor, Martock TA12
29            North Town Lane, Wood Street, Taunton TA1
30    Illustrious Crescent, Ilchester, Yeovil, Somer...
31                   Bush Road, Spaxton, Bridgwater TA5
32             Nedge Hill, Chewton Mendip, Radstock BA3
33      Lock House, Keeper Close, Taunton, Somerset TA1
34             Eversleigh, The Esplanade, Minehead TA24
35             St Thomas Street, Dunster, Minehead TA24
36                    Maperton, Wincanton, Somerset BA9
37           Crown Lane, Creech Heathfield, Taunton TA3
38                           Warden Road, Minehead TA24
39                Ashleigh Road, Weston-Super-Mare BS23
40        Taunton Road, North Petherton, Bridgwater TA6
41                                         Watchet TA23
42                Atlantic Road, Weston-Super-Mare BS23
43          Celtic Way, Bleadon, Weston-Super-Mare BS24
44    Chilton Park (Ref 5365), Bridgwater, Somerset TA6
45                       Knole, Langport, Somerset TA10
46                            Robin Lane, Clevedon BS21
47           Birch Gardens, Bircham Road, Minehead TA24
48                          Axbridge Road, Cheddar BS27
49            Upper Church Road, Weston-Super-Mare BS23
50                          Hamilton Court, Taunton TA1
51                                 Ash Close, Wells BA5
52                    East Coker, Yeovil, Somerset BA22
53                 Locking Road, Weston-Super-Mare BS23
54                Hayes End Manor, South Petherton TA13
Name: displayable_address, dtype: object

# Data Preporcessing

In [117]:
raw.columns

Index(['agent_address', 'agent_logo', 'agent_name', 'agent_phone', 'category',
       'country', 'country_code', 'county', 'description', 'details_url',
       'displayable_address', 'first_published_date', 'floor_plan',
       'furnished_state', 'image_150_113_url', 'image_354_255_url',
       'image_50_38_url', 'image_645_430_url', 'image_80_60_url',
       'image_caption', 'image_url', 'last_published_date', 'latitude',
       'letting_fees', 'listing_id', 'listing_status',
       'location_is_approximate', 'longitude', 'new_home', 'num_bathrooms',
       'num_bedrooms', 'num_floors', 'num_recepts', 'outcode', 'post_town',
       'price', 'price_change', 'price_modifier', 'property_type',
       'short_description', 'status', 'street_name', 'thumbnail_url'],
      dtype='object')

In [255]:
useful_information = raw[['latitude', 'longitude', 'property_type','category', 'num_bathrooms', 'num_bedrooms','num_floors', 'num_recepts', 'outcode', 'post_town', 'street_name', 'new_home', 'price']].reset_index()

In [256]:
hot_place = useful_information[['latitude', 'longitude', 'price']]
hot_place.to_csv('hot_place.csv', index = False)
hot_place

       latitude  longitude    price
0     51.282810  -2.473855   425000
1     51.352814  -2.983661   130000
2     51.349530  -2.973079   149950
3     50.933030  -2.842047   695000
4     51.004120  -3.086580   375000
5     51.329060  -2.961752   135000
6     51.347470  -2.942667   164950
7     51.027775  -3.134305   269995
8     51.027775  -3.134305   319995
9     51.036995  -2.827358   500000
10    51.021255  -2.437421   525000
11    51.010220  -3.094891   375000
12    51.010220  -3.094891   375000
13    51.358480  -2.904532   215000
14    51.366734  -2.913572   280000
15    51.044186  -2.815018    87500
16    51.027775  -3.134305   289995
17    51.218426  -2.334550   179950
18    51.163433  -3.315487   565000
19    51.275740  -2.770467   305000
20    51.208076  -3.472200   205000
21    51.137325  -3.010076   172250
22    50.952847  -2.647563   170000
23    51.355022  -2.972119   159950
24    51.130283  -3.008036   170000
25    51.055862  -2.733081   450000
26    51.041367  -2.436284   355000
27    50.949577  -2.618562   190000
28    50.943954  -2.683650   220000
29    51.053032  -2.423667   230000
...         ...        ...      ...
5725  51.094610  -2.687255   445000
5726  51.038467  -3.063536   325000
5727  51.001500  -2.683513   325000
5728  50.965164  -2.773505   118965
5729  51.016490  -3.103050   120000
5730  51.009945  -2.681627   100000
5731  51.122547  -3.115377   399999
5732  51.260735  -2.594398   895000
5733  51.022415  -3.099512   299950
5734  51.208675  -3.472963   279950
5735  51.185370  -3.443287   270000
5736  51.033000  -2.472385   225000
5737  51.039993  -3.030551   549950
5738  51.203506  -3.476477   435000
5739  51.353000  -2.959956   270000
5740  51.077972  -3.019660   100000
5741  51.182648  -3.337124   159950
5742  51.355130  -2.989512   185000
5743  51.311650  -2.948590   795000
5744  51.140890  -3.003492   185000
5745  51.022600  -2.736235   575000
5746  51.447330  -2.855174   850000
5747  51.195534  -3.464057   475000
5748  51.286740  -2.793337    69995
5749  51.353313  -2.986084   275000
5750  51.018345  -3.082849    95000
5751  51.214550  -2.647220   230000
5752  50.916737  -2.638569  1875000
5753  51.345512  -2.962125   268000
5754  50.946808  -2.803563   225000

[5755 rows x 3 columns]

In [503]:
def new_home(value):
    if math.isnan(value):
        return 0
    else:
        return 1
    
useful_information['new_home'] = useful_information['new_home'].apply(new_home)

KeyError: 'new_home'

In [258]:
useful_information

,index,latitude,longitude,property_type,category,num_bathrooms,num_bedrooms,num_floors,num_recepts,outcode,post_town,street_name,new_home,price
0,0,51.282810,-2.473855,Detached bungalow,Residential,2,3,0,1,BA3,Radstock,Midsomer Norton,0,425000
1,1,51.352814,-2.983661,Flat,Residential,1,2,0,1,BS23,Weston-super-Mare,Park Place,0,130000
2,2,51.349530,-2.973079,Flat,Residential,1,2,0,1,BS23,Weston-super-Mare,16 Hans Price Close,0,149950
3,3,50.933030,-2.842047,Detached house,Residential,2,4,0,3,TA19,Ilminster,Ilminster Somerset,0,695000
4,4,51.004120,-3.086580,Detached house,Residential,2,4,0,3,TA1,Taunton,Harp Chase,0,375000
5,5,51.329060,-2.961752,End terrace house,Residential,0,2,0,0,BS23,Weston-super-Mare,Coleridge Road,0,135000
6,6,51.347470,-2.942667,Terraced house,Residential,1,2,0,1,BS22,Weston-super-Mare,The Barrows,0,164950
7,7,51.027775,-3.134305,Semi-detached house,Residential,2,3,0,1,TA2,Taunton,Apple Tree Close,1,269995
8,8,51.027775,-3.134305,Semi-detached house,Residential,2,4,0,2,TA2,Taunton,Apple Tree Close,1,319995
9,9,51.036995,-2.827358,Detached house,Residential,3,4,0,2,TA10,Langport,Bush Place,0,500000
10,10,51.021255,-2.437421,Cottage,Residential,2,4,0,2,BA8,Templecombe,NaN,0,525000
11,11,51.010220,-3.094891,Terraced house,Residential,2,4,0,1,TA1,Taunton,Kings Square,0,375000
12,12,51.010220,-3.094891,Town house,Residential,2,4,0,1,TA1,Taunton,South Rd,0,375000
13,13,51.358480,-2.904532,Terraced house,Residential,1,3,0,1,BS24,Weston-super-Mare,Weston-Super-Mare Somerset,0,215000
14,14,51.366734,-2.913572,Detached house,Residential,1,4,0,2,BS22,Weston-super-Mare,Weston-Super-Mare Somerset,0,280000
15,15,51.044186,-2.815018,Flat,Residential,1,1,0,1,TA10,Langport,Brookland Road,0,87500
16,16,51.027775,-3.134305,Detached house,Residential,2,3,0,1,TA2,Taunton,Apple Tree Close,1,289995
17,17,51.218426,-2.334550,Terraced house,Residential,1,2,0,1,BA11,Frome,Courts Barton,0,179950
18,18,51.163433,-3.315487,Detached house,Residential,5,6,0,4,TA4,Taunton,Long Street,0,565000
19,19,51.275740,-2.770467,NaN,Residential,2,4,0,2,BS27,Cheddar,Masons Way,0,305000
20,20,51.208076,-3.472200,Flat,Residential,1,1,0,1,TA24,Minehead,Metropole Court,0,205000
21,21,51.137325,-3.010076,Terraced house,Residential,1,2,0,1,TA6,Bridgwater,Countess Avenue,0,172250
22,22,50.952847,-2.647563,Terraced house,Residential,1,3,0,1,BA21,Yeovil,NaN,0,170000
23,23,51.355022,-2.972119,Flat,Residential,0,2,0,0,BS23,Weston-super-Mare,Arundell Road,0,159950
24,24,51.130283,-3.008036,Terraced house,Residential,1,3,0,2,TA6,Bridgwater,Blacklands,0,170000
25,25,51.055862,-2.733081,Detached house,Residential,2,6,0,3,TA11,Somerton,Behind Berry,0,450000
26,26,51.041367,-2.436284,Flat,Residential,2,2,0,1,BA9,Wincanton,Lattiford House,0,355000
27,27,50.949577,-2.618562,Semi-detached house,Residential,1,3,0,1,BA21,Yeovil,Rosebery Avenue,0,190000
28,28,50.943954,-2.683650,End terrace house,Residential,1,3,0,1,BA22,Yeovil,Yeovil Somerset,0,220000
29,29,51.053032,-2.423667,Semi-detached house,Residential,1,3,0,1,BA9,Wincanton,Wincanton Somerset,0,230000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5725,5725,51.094610,-2.687255,Country house,Residential,2,4,0,2,BA6,Glastonbury,Grenville Court,1,445000
5726,5726,51.038467,-3.063536,Detached house,Residential,2,4,0,2,TA2,Taunton,Mead Way,0,325000
5727,5727,51.001500,-2.683513,End terrace house,Residential,2,3,0,2,BA22,Yeovil,Ilchester Yeovil Somerset,0,325000
5728,5728,50.965164,-2.773505,Flat,Residential,1,1,0,1,TA12,Martock,NaN,0,118965
5729,5729,51.016490,-3.103050,Flat,Residential,1,2,0,1,TA1,Taunton,North Street,0,120000
5730,5730,51.009945,-2.681627,Maisonette,Residential,0,3,0,0,BA22,Yeovil,Illustrious Crescent Ilchester Yeovil,0,100000
5731,5731,51.122547,-3.115377,Detached house,Residential,0,4,0,0,TA5,Bridgwater,Bush Road,0,399999
5732,5732,51.260735,-2.594398,Detached house,Residential,1,5,0,2,BA3,Radstock,Nedge Hill,0,895000
5733,5733,51.022415,-3.099512,Flat,Residential,1,2,0,1,TA1,Taunton,Keeper Close Taunton Somerset,1,299950
5734,5734,51.208675,-3.472963,Flat,Residential,1,3,0,1,TA24,Minehead,Eversleigh,0,279950
5735,5735,51.185370,-3.443287,NaN,Residential,1,3,0,2,TA24,Minehead,St Thomas Street,0,270000
5736,5736,51.033000,-2.472385,NaN,Residential,0,0,0,0,BA9,Wincanton,Wincanton Somerset,0,225000
5737,5737,51.039993,-3.030551,Detached house,Residential,0,5,0,0,TA3,Taunton,Crown Lane,0,549950
5738,5738,51.203506,-3.476477,Detached house,Residential,2,7,0,3,TA24,Minehead,Warden Road,0,435000
5739,5739,51.353000,-2.959956,Detached house,Residential,2,3,0,3,BS23,Weston-super-Mare,Ashleigh Road,0,270000
5740,5740,51.077972,-3.019660,Bungalow,Residential,1,2,0,1,TA6,Bridgwater,Taunton Road North Petherton Bridgwater,0,100000
5741,5741,51.182648,-3.337124,Flat,Residential,1,2,0,1,TA23,Watchet,West Street,0,159950
5742,5742,51.355130,-2.989512,Flat,Residential,1,2,0,2,BS23,Weston-super-Mare,12 Atlantic Road,0,185000
5743,5743,51.311650,-2.948590,Detached house,Residential,2,6,0,4,BS24,Weston-super-Mare,Celtic Way,0,795000
5744,5744,51.140890,-3.003492,Mobile/park home,Residential,2,2,0,0,TA6,Bridgwater,Chilton Park (Ref 5365),0,185000
5745,5745,51.022600,-2.736235,Link-detached house,Residential,4,4,0,3,TA10,Langport,Langport Somerset,0,575000
5746,5746,51.447330,-2.855174,Detached house,Residential,4,5,0,3,BS21,Clevedon,Robin Lane,0,850000
5747,5747,51.195534,-3.464057,Detached house,Residential,2,4,0,2,TA24,Minehead,Bircham Road,1,475000
5748,5748,51.286740,-2.793337,NaN,Residential,2,2,0,1,BS27,Cheddar,Axbridge Road,1,69995
5749,5749,51.353313,-2.986084,NaN,Residential,3,5,0,3,BS23,Weston-super-Mare,Upper Church Road,0,275000
5750,5750,51.018345,-3.082849,Flat,Residential,1,1,0,1,TA1,Taunton,Hamilton Court,0,95000
5751,5751,51.214550,-2.647220,End terrace house,Residential,1,2,0,1,BA5,Wells,Ash Rise,1,230000
5752,5752,50.916737,-2.638569,Equestrian property,Residential,5,8,0,4,BA22,Yeovil,Yeovil Somerset,0,1875000
5753,5753,51.345512,-2.962125,Semi-detached house,Residential,4,7,0,0,BS23,Weston-super-Mare,Locking Road,0,268000
5754,5754,50.946808,-2.803563,Cottage,Residential,1,2,0,1,TA13,South Petherton,Hayes End Manor,0,225000

In [259]:
cate = useful_information.drop_duplicates(['category'])
cate

,index,latitude,longitude,property_type,category,num_bathrooms,num_bedrooms,num_floors,num_recepts,outcode,post_town,street_name,new_home,price
0,0,51.28281,-2.473855,Detached bungalow,Residential,2,3,0,1,BA3,Radstock,Midsomer Norton,0,425000

In [270]:
property_type = useful_information.drop_duplicates(['property_type'])
property_type['property_type']
useful_information[useful_information['property_type'].isnull()]

,index,latitude,longitude,property_type,category,num_bathrooms,num_bedrooms,num_floors,num_recepts,outcode,post_town,street_name,new_home,price
19,19,51.275740,-2.770467,NaN,Residential,2,4,0,2,BS27,Cheddar,Masons Way,0,305000
56,56,51.278393,-2.785265,NaN,Residential,1,2,0,1,BS27,Cheddar,Gough Place,0,220000
63,63,51.360540,-2.897348,NaN,Residential,0,2,0,1,BS22,Weston-super-Mare,Willow Gardens St. Georges,0,300000
76,76,51.440758,-2.858619,NaN,Residential,0,3,0,0,BS21,Clevedon,Clevedon,0,395000
86,86,51.093970,-3.016499,NaN,Residential,0,3,0,0,TA6,Bridgwater,North Street,0,325000
101,101,51.061756,-3.108835,NaN,Residential,1,3,0,2,TA2,Taunton,Church Lane,0,450000
115,115,51.208370,-2.649266,NaN,Residential,1,3,0,1,BA5,Wells,Union Street,0,225000
157,157,51.212510,-2.648823,NaN,Residential,1,1,0,1,BA5,Wells,Milton Lane,0,139950
185,185,51.271270,-2.778793,NaN,Residential,2,4,0,2,BS27,Cheddar,Thynne Close,0,390000
190,190,51.280010,-2.276071,NaN,Residential,0,2,0,0,BA11,Frome,Church Farm,1,155000
191,191,51.280010,-2.276071,NaN,Residential,0,3,0,0,BA11,Frome,Church Farm,1,205000
256,256,51.055634,-2.743750,NaN,Residential,0,3,3,2,TA11,Somerton,"Northfields, Somerset",1,259995
257,257,51.245760,-2.998596,NaN,Residential,2,6,0,3,TA8,Burnham-on-Sea,Berrow Road,0,525000
336,336,51.196010,-3.466319,NaN,Residential,1,2,0,1,TA24,Minehead,Church Street,0,200000
348,348,51.351470,-2.900287,NaN,Residential,0,2,0,0,BS24,Weston-super-Mare,Kent Avenue Weston-Super-Mare Somerset,0,134950
352,352,51.322136,-2.981339,NaN,Residential,1,4,0,2,BS23,Weston-super-Mare,Old Church Road Uphill,0,320000
353,353,51.357063,-2.938053,NaN,Residential,0,4,0,2,BS22,Weston-super-Mare,Spring Hill Worle,0,500000
354,354,51.055634,-2.743750,NaN,Residential,0,3,2,2,TA11,Somerton,"Northfields, Somerset",1,297995
364,364,51.353840,-2.936393,NaN,Residential,1,2,0,3,BS22,Weston-super-Mare,Locking Road,0,250000
414,414,51.233765,-2.328990,NaN,Residential,1,2,0,1,BA11,Frome,Goulds Ground,0,260000
419,419,50.877210,-2.970896,NaN,Residential,2,6,0,4,TA20,Chard,58 Crimchard,0,500000
425,425,51.247320,-2.469406,NaN,Residential,3,4,0,3,BA3,Radstock,Brewery Lane,0,625000
442,442,51.005620,-3.087584,NaN,Residential,3,5,0,2,TA1,Taunton,South Road,0,325000
466,466,51.242283,-2.314897,NaN,Residential,1,4,0,3,BA11,Frome,Mendip Drive,0,360000
474,474,51.242070,-2.306014,NaN,Residential,1,3,0,2,BA11,Frome,Laburnum Close,0,230000
512,512,51.350586,-2.898575,NaN,Residential,1,2,0,1,BS24,Weston-super-Mare,Turnock Gardens,0,169950
518,518,51.014027,-3.111674,NaN,Residential,9,10,0,2,TA1,Taunton,Wellington Road,0,535000
580,580,51.089493,-2.516624,NaN,Residential,0,2,0,0,BA7,Castle Cary,Castle Cary,1,260000
599,599,51.004120,-3.086580,NaN,Residential,2,4,0,2,TA1,Taunton,Harp Chase,0,359000
623,623,51.237120,-2.317182,NaN,Residential,1,3,0,1,BA11,Frome,Spring Road,0,280000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5613,5613,51.160645,-3.319612,NaN,Residential,1,1,0,1,TA4,Taunton,Robert Street,0,130000
5625,5625,51.243680,-2.306210,NaN,Residential,1,3,0,2,BA11,Frome,Beaconsfield Way,0,280000
5626,5626,51.015087,-3.115448,NaN,Residential,3,7,0,5,TA1,Taunton,Wellington Road,0,685000
5628,5628,50.879986,-3.026860,NaN,Residential,2,2,0,1,TA20,Chard,Turnpike,0,87500
5633,5633,51.225998,-2.324796,NaN,Residential,1,3,0,2,BA11,Frome,Butts Hill,0,210000
5642,5642,51.268394,-2.286222,NaN,Residential,3,5,0,3,BA11,Frome,NaN,0,750000
5644,5644,50.944840,-2.630527,NaN,Residential,1,1,0,1,BA21,Yeovil,The Avenue,0,52000
5658,5658,50.949074,-2.811218,NaN,Residential,2,3,0,1,TA13,South Petherton,Crown Lane,0,287500
5663,5663,51.206703,-2.646351,NaN,Residential,1,1,0,1,BA5,Wells,The Cloisters,0,159000
5667,5667,51.053585,-2.730349,NaN,Residential,2,2,0,1,TA11,Somerton,West Street,0,364500
5668,5668,51.053585,-2.730349,NaN,Residential,2,2,0,1,TA11,Somerton,West Street,0,374500
5669,5669,51.267784,-2.764701,NaN,Residential,2,4,0,2,BS27,Cheddar,Draycott Road,0,875000
5671,5671,50.944840,-2.630527,NaN,Residential,1,1,0,1,BA21,Yeovil,The Avenue,0,60000
5674,5674,51.206703,-2.646351,NaN,Residential,1,2,0,1,BA5,Wells,The Cloisters,0,229950
5678,5678,51.200264,-2.653346,NaN,Residential,0,4,2,3,BA5,Wells,"Vicarage Fields, 6 Knight Road",1,390000
5679,5679,51.270454,-2.884468,NaN,Residential,1,6,0,4,BS26,Axbridge,Biddisham,0,400000
5680,5680,51.212510,-2.648823,NaN,Residential,1,2,0,1,BA5,Wells,Milton Lane,0,242500
5691,5691,51.206135,-2.647131,NaN,Residential,1,1,0,1,BA5,Wells,Silver Street,0,105000
5694,5694,51.029552,-3.232289,NaN,Residential,2,4,0,3,TA4,Taunton,Preston Bowyer,0,550000
5699,5699,51.209602,-2.690341,NaN,Residential,2,4,0,3,BA5,Wells,NaN,0,400000
5703,5703,51.207077,-3.482847,NaN,Residential,2,4,0,1,TA24,Minehead,The Carbery,0,322500
5706,5706,51.206135,-2.647131,NaN,Residential,1,1,0,1,BA5,Wells,Silver Street,0,110000
5708,5708,51.145650,-2.718707,NaN,Residential,1,1,0,1,BA6,Glastonbury,Magdalene Street,0,115000
5715,5715,51.346367,-2.975224,NaN,Residential,1,2,0,1,BS23,Weston-super-Mare,Station Road,0,109000
5716,5716,51.126656,-3.097585,NaN,Residential,2,3,0,3,TA5,Bridgwater,"Four Forks,",0,500000
5724,5724,50.940742,-2.634671,NaN,Residential,1,1,0,1,BA20,Yeovil,The Arena,0,70000
5735,5735,51.185370,-3.443287,NaN,Residential,1,3,0,2,TA24,Minehead,St Thomas Street,0,270000
5736,5736,51.033000,-2.472385,NaN,Residential,0,0,0,0,BA9,Wincanton,Wincanton Somerset,0,225000
5748,5748,51.286740,-2.793337,NaN,Residential,2,2,0,1,BS27,Cheddar,Axbridge Road,1,69995
5749,5749,51.353313,-2.986084,NaN,Residential,3,5,0,3,BS23,Weston-super-Mare,Upper Church Road,0,275000

In [269]:
code = useful_information.drop_duplicates(['outcode'])
code['outcode']
useful_information[useful_information['outcode'].isnull()]

Empty DataFrame
Columns: [index, latitude, longitude, property_type, category, num_bathrooms, num_bedrooms, num_floors, num_recepts, outcode, post_town, street_name, new_home, price]
Index: []

In [268]:
post_town = useful_information.drop_duplicates(['post_town'])
useful_information[useful_information['post_town'].isnull()]

,index,latitude,longitude,property_type,category,num_bathrooms,num_bedrooms,num_floors,num_recepts,outcode,post_town,street_name,new_home,price
183,183,51.347470,-2.913102,Detached house,Residential,4,5,0,3,BS24,NaN,Mannock Gardens,1,499995
184,184,51.347470,-2.913102,Detached house,Residential,3,5,0,3,BS24,NaN,Mannock Gardens,1,519995
198,198,51.347470,-2.913102,Detached house,Residential,3,5,0,3,BS24,NaN,Mannock Gardens,1,514995
234,234,51.347470,-2.913102,Detached house,Residential,3,4,0,2,BS24,NaN,Mannock Gardens,1,489995
906,906,51.210240,-2.682498,Detached house,Residential,0,3,3,2,BA5,NaN,"Priory Fields, Wookey Hole Road, Wells, Somerset",1,339995
1031,1031,51.210240,-2.682498,Detached house,Residential,2,4,2,2,BA5,NaN,"Wookey Hole Road, Wells",1,355000
1225,1225,51.210240,-2.682498,NaN,Residential,0,3,3,2,BA5,NaN,"Priory Fields, Wookey Hole Road, Wells, Somerset",1,365995
1295,1295,51.210240,-2.682498,NaN,Residential,0,4,2,3,BA5,NaN,"Priory Fields, Wookey Hole Road, Wells, Somerset",1,445995
1296,1296,51.210240,-2.682498,NaN,Residential,0,3,2,2,BA5,NaN,"Priory Fields, Wookey Hole Road, Wells, Somerset",1,326995
1297,1297,51.210240,-2.682498,NaN,Residential,0,3,2,2,BA5,NaN,"Priory Fields, Wookey Hole Road, Wells, Somerset",1,361995
1314,1314,51.130367,-2.732446,Land,Residential,0,0,0,0,BA16,NaN,Street Drove,0,15000
1491,1491,51.210240,-2.682498,Terraced house,Residential,0,2,2,1,BA5,NaN,"Priory Fields, Wookey Hole Road, Wells, Somerset",1,239995
1733,1733,51.210240,-2.682498,Semi-detached house,Residential,2,2,2,1,BA5,NaN,"Wookey Hole Road, Wells",1,280000
1950,1950,51.210240,-2.682498,Semi-detached house,Residential,2,3,2,2,BA5,NaN,"Wookey Hole Road, Wells",1,300000
2039,2039,51.210240,-2.682498,End terrace house,Residential,0,3,2,1,BA5,NaN,"Priory Fields, Wookey Hole Road, Wells, Somerset",1,272995
2041,2041,51.210240,-2.682498,Detached house,Residential,0,4,2,3,BA5,NaN,"Priory Fields, Wookey Hole Road, Wells, Somerset",1,431995
2322,2322,51.189323,-2.549043,Flat,Residential,1,1,0,1,BA4,NaN,65 High Street,0,114950
2962,2962,51.147064,-2.719243,Terraced house,Residential,1,2,0,1,BA6,NaN,Feversham Lane,0,149950
3067,3067,50.942444,-2.632972,Flat,Residential,0,2,0,0,BA20,NaN,Church Street Yeovil Somerset,1,125000
3486,3486,51.124817,-3.286495,End terrace house,Residential,1,3,0,1,TA4,NaN,Archers Grove,0,230000
3824,3824,51.228542,-2.997435,Mobile/park home,Residential,2,3,0,1,TA8,NaN,Burnham Holiday Village,0,55000
4008,4008,51.057354,-2.409923,Country house,Residential,2,5,0,3,BA9,NaN,NaN,0,850000
4015,4015,51.041817,-2.801520,Detached house,Residential,2,4,0,1,TA10,NaN,Station Court,1,359950
4154,4154,51.210240,-2.682498,Detached house,Residential,2,4,2,3,BA5,NaN,"Wookey Hole Road, Wells",1,440000
5065,5065,51.210240,-2.682498,Detached house,Residential,0,3,2,2,BA5,NaN,"Priory Fields, Wookey Hole Road, Wells, Somerset",1,309995
5573,5573,51.128677,-3.003699,Land,Residential,0,0,0,0,TA6,NaN,Cornhill,0,375000

In [502]:
street_name = useful_information.drop_duplicates(['street_name'])
useful_information[useful_information['street_name'].isnull()]

KeyError: Index(['street_name'], dtype='object')

## Naive Bayes
---
Using naive bayes to prodict the nan value

In [829]:
from sklearn import preprocessing

class LabelEncode:
    
    def __init__(self, df_data, col):
        self.le = preprocessing.LabelEncoder()
        col_name = list(df_data.drop_duplicates([col])[col])
        self.le.fit(col_name)

    def encode(self, value):
        return self.le.transform([value])[0]

In [830]:
useful_information = raw[['latitude', 'longitude', 'property_type', 'num_bathrooms', 'num_bedrooms','num_floors', 'num_recepts','outcode','post_town', 'new_home', 'price']].reset_index()
useful_information['new_home'] = useful_information['new_home'].apply(new_home)

pt_le = LabelEncode(useful_information, 'post_town')
encode_col = pt_le.le.transform(list(useful_information['post_town']))
useful_information['post_town'] = encode_col

oc_le = LabelEncode(useful_information, 'outcode')
encode_col = oc_le.le.transform(list(useful_information['outcode']))
useful_information['outcode'] = encode_col

post_le = LabelEncode(useful_information,  'property_type')
encode_col = post_le.le.transform(list(useful_information['property_type']))
useful_information['property_type'] = encode_col

In [831]:
nan_pt = useful_information['property_type'].max()
nan_oc = useful_information['outcode'].max()
nan_post = useful_information['post_town'].max()

In [832]:
nan_pt

29

In [833]:
from sklearn.naive_bayes import GaussianNB

class naive_bayes:
    def __init__(self, df_data, col, nan_index):
        self.col = col
        self.model = GaussianNB()
        train = df_data[df_data[col] != nan_index]
        train_X = df_data[df_data.columns.difference([col])]
        train_Y = df_data[[col]]
        self.predict_X = df_data[df_data[col] == nan_index]
        self.predict_X = self.predict_X[self.predict_X.columns.difference([col])]  
        self.model.fit(train_X, train_Y)
        
    def predict(self):
        self.result = self.model.predict(self.predict_X)
        self.predict_X[self.col] = self.result
        return self.predict_X

In [834]:
nv_m = naive_bayes(useful_information, 'property_type', nan_pt)

C:\software\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [835]:
result = nv_m.predict()
result = result.set_index('index')

In [836]:
useful_information = useful_information.set_index('index')
useful_information.update(result)

In [837]:
useful_information['property_type'].max()

28.0

In [838]:
nv_m = naive_bayes(useful_information, 'outcode', nan_oc)
result = nv_m.predict()
useful_information.update(result)

C:\software\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [839]:
print(nan_oc)
print(useful_information.outcode.max())

57
56.0

In [840]:
nv_m = naive_bayes(useful_information, 'post_town', nan_post)
result = nv_m.predict()
useful_information.update(result)

C:\software\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [841]:
print(nan_post)
print(useful_information.post_town.max())

45
44.0

In [842]:
useful_information.sample(10)

,latitude,longitude,property_type,num_bathrooms,num_bedrooms,num_floors,num_recepts,outcode,post_town,new_home,price
index,,,,,,,,,,,
3324,51.417908,-2.839251,7.0,1.0,2.0,0.0,2.0,16.0,11.0,0.0,295000.0
3081,50.926575,-2.918893,8.0,2.0,5.0,0.0,2.0,44.0,20.0,0.0,245000.0
4967,51.015575,-3.098210,12.0,0.0,2.0,0.0,0.0,34.0,33.0,0.0,120000.0
1384,51.002155,-2.682069,26.0,1.0,2.0,1.0,1.0,7.0,44.0,0.0,174950.0
1292,51.352430,-2.928595,23.0,1.0,3.0,0.0,2.0,17.0,41.0,0.0,219995.0
986,51.032430,-3.096156,22.0,1.0,3.0,0.0,2.0,45.0,33.0,0.0,225000.0
3888,51.201180,-2.655005,7.0,3.0,4.0,0.0,3.0,10.0,40.0,0.0,465000.0
5066,51.361980,-2.931561,22.0,1.0,2.0,0.0,1.0,17.0,41.0,0.0,232950.0
4667,51.037132,-3.188917,26.0,2.0,3.0,0.0,1.0,52.0,33.0,1.0,270000.0
3584,51.147210,-2.718187,12.0,4.0,2.0,0.0,1.0,11.0,16.0,0.0,145000.0

In [797]:
useful_information['room_sum'] = useful_information.num_bathrooms + useful_information.num_bedrooms + useful_information.num_floors + useful_information.num_recepts

In [801]:
useful_information = useful_information[useful_information['room_sum'] != 0]

In [804]:
useful_information = useful_information.drop('room_sum', axis=1)

In [805]:
useful_information.head()

,latitude,longitude,property_type,num_bathrooms,num_bedrooms,num_floors,num_recepts,outcode,post_town,new_home,price
index,,,,,,,,,,,
0,51.282810,-2.473855,6.0,2.0,3.0,0.0,1.0,8.0,26.0,0.0,425000.0
1,51.352814,-2.983661,12.0,1.0,2.0,0.0,1.0,18.0,41.0,0.0,130000.0
2,51.349530,-2.973079,12.0,1.0,2.0,0.0,1.0,18.0,41.0,0.0,149950.0
3,50.933030,-2.842047,7.0,2.0,4.0,0.0,3.0,44.0,20.0,0.0,695000.0
4,51.004120,-3.086580,7.0,2.0,4.0,0.0,3.0,34.0,33.0,0.0,375000.0

## Line Regression

In [843]:
df_line_regression = useful_information[['latitude','longitude','property_type', 'num_bathrooms', 'num_bedrooms','num_floors', 'num_recepts', 'outcode', 'post_town', 'new_home', 'price']]

In [844]:
decode_col = pt_le.le.inverse_transform(list(df_line_regression['post_town'].astype(int)))
df_line_regression['post_town'] = decode_col

decode_col = oc_le.le.inverse_transform(list(df_line_regression['outcode'].astype(int)))
df_line_regression['outcode'] = decode_col

decode_col = post_le.le.inverse_transform(list(df_line_regression['property_type'].astype(int)))
df_line_regression['property_type'] = decode_col

C:\software\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\software\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\software\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [845]:
df_line_regression = pd.get_dummies(df_line_regression)

In [846]:
df_line_regression[df_line_regression.duplicated()].head()

,latitude,longitude,num_bathrooms,num_bedrooms,num_floors,num_recepts,new_home,price,property_type_Barn conversion,property_type_Block of flats,...,post_town_Tiverton,post_town_Warminster,post_town_Watchet,post_town_Wedmore,post_town_Wellington,post_town_Wells,post_town_Weston-super-Mare,post_town_Wincanton,post_town_Winscombe,post_town_Yeovil
index,,,,,,,,,,,,,,,,,,,,,
93,51.227390,-2.304484,2.0,3.0,2.0,2.0,1.0,294995.0,0,0,...,0,0,0,0,0,0,0,0,0,0
148,51.109886,-3.012591,0.0,2.0,0.0,0.0,1.0,129500.0,0,0,...,0,0,0,0,0,0,0,0,0,0
149,51.109886,-3.012591,0.0,2.0,0.0,0.0,1.0,129500.0,0,0,...,0,0,0,0,0,0,0,0,0,0
151,51.109886,-3.012591,0.0,2.0,0.0,0.0,1.0,127500.0,0,0,...,0,0,0,0,0,0,0,0,0,0
152,51.109886,-3.012591,0.0,2.0,0.0,0.0,1.0,127500.0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [847]:
df_line_regression.drop_duplicates()

,latitude,longitude,num_bathrooms,num_bedrooms,num_floors,num_recepts,new_home,price,property_type_Barn conversion,property_type_Block of flats,...,post_town_Tiverton,post_town_Warminster,post_town_Watchet,post_town_Wedmore,post_town_Wellington,post_town_Wells,post_town_Weston-super-Mare,post_town_Wincanton,post_town_Winscombe,post_town_Yeovil
index,,,,,,,,,,,,,,,,,,,,,
0,51.282810,-2.473855,2.0,3.0,0.0,1.0,0.0,425000.0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,51.352814,-2.983661,1.0,2.0,0.0,1.0,0.0,130000.0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,51.349530,-2.973079,1.0,2.0,0.0,1.0,0.0,149950.0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,50.933030,-2.842047,2.0,4.0,0.0,3.0,0.0,695000.0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,51.004120,-3.086580,2.0,4.0,0.0,3.0,0.0,375000.0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,51.329060,-2.961752,0.0,2.0,0.0,0.0,0.0,135000.0,0,0,...,0,0,0,0,0,0,1,0,0,0
6,51.347470,-2.942667,1.0,2.0,0.0,1.0,0.0,164950.0,0,0,...,0,0,0,0,0,0,1,0,0,0
7,51.027775,-3.134305,2.0,3.0,0.0,1.0,1.0,269995.0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,51.027775,-3.134305,2.0,4.0,0.0,2.0,1.0,319995.0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,51.036995,-2.827358,3.0,4.0,0.0,2.0,0.0,500000.0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,51.021255,-2.437421,2.0,4.0,0.0,2.0,0.0,525000.0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,51.010220,-3.094891,2.0,4.0,0.0,1.0,0.0,375000.0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,51.010220,-3.094891,2.0,4.0,0.0,1.0,0.0,375000.0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,51.358480,-2.904532,1.0,3.0,0.0,1.0,0.0,215000.0,0,0,...,0,0,0,0,0,0,1,0,0,0
14,51.366734,-2.913572,1.0,4.0,0.0,2.0,0.0,280000.0,0,0,...,0,0,0,0,0,0,1,0,0,0
15,51.044186,-2.815018,1.0,1.0,0.0,1.0,0.0,87500.0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,51.027775,-3.134305,2.0,3.0,0.0,1.0,1.0,289995.0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,51.218426,-2.334550,1.0,2.0,0.0,1.0,0.0,179950.0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,51.163433,-3.315487,5.0,6.0,0.0,4.0,0.0,565000.0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,51.275740,-2.770467,2.0,4.0,0.0,2.0,0.0,305000.0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,51.208076,-3.472200,1.0,1.0,0.0,1.0,0.0,205000.0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,51.137325,-3.010076,1.0,2.0,0.0,1.0,0.0,172250.0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,50.952847,-2.647563,1.0,3.0,0.0,1.0,0.0,170000.0,0,0,...,0,0,0,0,0,0,0,0,0,1
23,51.355022,-2.972119,0.0,2.0,0.0,0.0,0.0,159950.0,0,0,...,0,0,0,0,0,0,1,0,0,0
24,51.130283,-3.008036,1.0,3.0,0.0,2.0,0.0,170000.0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,51.055862,-2.733081,2.0,6.0,0.0,3.0,0.0,450000.0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,51.041367,-2.436284,2.0,2.0,0.0,1.0,0.0,355000.0,0,0,...,0,0,0,0,0,0,0,1,0,0
27,50.949577,-2.618562,1.0,3.0,0.0,1.0,0.0,190000.0,0,0,...,0,0,0,0,0,0,0,0,0,1
28,50.943954,-2.683650,1.0,3.0,0.0,1.0,0.0,220000.0,0,0,...,0,0,0,0,0,0,0,0,0,1
29,51.053032,-2.423667,1.0,3.0,0.0,1.0,0.0,230000.0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5723,50.940742,-2.634671,1.0,1.0,0.0,1.0,0.0,70000.0,0,0,...,0,0,0,0,0,0,0,0,0,1
5725,51.094610,-2.687255,2.0,4.0,0.0,2.0,1.0,445000.0,0,0,...,0,0,0,0,0,0,0,0,0,0
5726,51.038467,-3.063536,2.0,4.0,0.0,2.0,0.0,325000.0,0,0,...,0,0,0,0,0,0,0,0,0,0
5727,51.001500,-2.683513,2.0,3.0,0.0,2.0,0.0,325000.0,0,0,...,0,0,0,0,0,0,0,0,0,1
5728,50.965164,-2.773505,1.0,1.0,0.0,1.0,0.0,118965.0,0,0,...,0,0,0,0,0,0,0,0,0,0
5729,51.016490,-3.103050,1.0,2.0,0.0,1.0,0.0,120000.0,0,0,...,0,0,0,0,0,0,0,0,0,0
5730,51.009945,-2.681627,0.0,3.0,0.0,0.0,0.0,100000.0,0,0,...,0,0,0,0,0,0,0,0,0,1
5731,51.122547,-3.115377,0.0,4.0,0.0,0.0,0.0,399999.0,0,0,...,0,0,0,0,0,0,0,0,0,0
5732,51.260735,-2.594398,1.0,5.0,0.0,2.0,0.0,895000.0,0,0,...,0,0,0,0,0,0,0,0,0,0
5733,51.022415,-3.099512,1.0,2.0,0.0,1.0,1.0,299950.0,0,0,...,0,0,0,0,0,0,0,0,0,0
5734,51.208675,-3.472963,1.0,3.0,0.0,1.0,0.0,279950.0,0,0,...,0,0,0,0,0,0,0,0,0,0
5735,51.185370,-3.443287,1.0,3.0,0.0,2.0,0.0,270000.0,0,0,...,0,0,0,0,0,0,0,0,0,0
5737,51.039993,-3.030551,0.0,5.0,0.0,0.0,0.0,549950.0,0,0,...,0,0,0,0,0,0,0,0,0,0
5738,51.203506,-3.476477,2.0,7.0,0.0,3.0,0.0,435000.0,0,0,...,0,0,0,0,0,0,0,0,0,0
5739,51.353000,-2.959956,2.0,3.0,0.0,3.0,0.0,270000.0,0,0,...,0,0,0,0,0,0,1,0,0,0
5740,51.077972,-3.019660,1.0,2.0,0.0,1.0,0.0,100000.0,0,0,...,0,0,0,0,0,0,0,0,0,0
5741,51.182648,-3.337124,1.0,2.0,0.0,1.0,0.0,159950.0,0,0,...,0,0,1,0,0,0,0,0,0,0
5742,51.355130,-2.989512,1.0,2.0,0.0,2.0,0.0,185000.0,0,0,...,0,0,0,0,0,0,1,0,0,0
5743,51.311650,-2.948590,2.0,6.0,0.0,4.0,0.0,795000.0,0,0,...,0,0,0,0,0,0,1,0,0,0
5744,51.140890,-3.003492,2.0,2.0,0.0,0.0,0.0,185000.0,0,0,...,0,0,0,0,0,0,0,0,0,0
5745,51.022600,-2.736235,4.0,4.0,0.0,3.0,0.0,575000.0,0,0,...,0,0,0,0,0,0,0,0,0,0
5746,51.447330,-2.855174,4.0,5.0,0.0,3.0,0.0,850000.0,0,0,...,0,0,0,0,0,0,0,0,0,0
5747,51.195534,-3.464057,2.0,4.0,0.0,2.0,1.0,475000.0,0,0,...,0,0,0,0,0,0,0,0,0,0
5748,51.286740,-2.793337,2.0,2.0,0.0,1.0,1.0,69995.0,0,0,...,0,0,0,0,0,0,0,0,0,0
5749,51.353313,-2.986084,3.0,5.0,0.0,3.0,0.0,275000.0,0,0,...,0,0,0,0,0,0,1,0,0,0
5750,51.018345,-3.082849,1.0,1.0,0.0,1.0,0.0,95000.0,0,0,...,0,0,0,0,0,0,0,0,0,0
5751,51.214550,-2.647220,1.0,2.0,0.0,1.0,1.0,230000.0,0,0,...,0,0,0,0,0,1,0,0,0,0
5752,50.916737,-2.638569,5.0,8.0,0.0,4.0,0.0,1875000.0,0,0,...,0,0,0,0,0,0,0,0,0,1
5753,51.345512,-2.962125,4.0,7.0,0.0,0.0,0.0,268000.0,0,0,...,0,0,0,0,0,0,1,0,0,0
5754,50.946808,-2.803563,1.0,2.0,0.0,1.0,0.0,225000.0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [848]:
df_line_regression = df_line_regression[df_line_regression.price != 0]

In [849]:
df_line_regression.head()

,latitude,longitude,num_bathrooms,num_bedrooms,num_floors,num_recepts,new_home,price,property_type_Barn conversion,property_type_Block of flats,...,post_town_Tiverton,post_town_Warminster,post_town_Watchet,post_town_Wedmore,post_town_Wellington,post_town_Wells,post_town_Weston-super-Mare,post_town_Wincanton,post_town_Winscombe,post_town_Yeovil
index,,,,,,,,,,,,,,,,,,,,,
0,51.282810,-2.473855,2.0,3.0,0.0,1.0,0.0,425000.0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,51.352814,-2.983661,1.0,2.0,0.0,1.0,0.0,130000.0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,51.349530,-2.973079,1.0,2.0,0.0,1.0,0.0,149950.0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,50.933030,-2.842047,2.0,4.0,0.0,3.0,0.0,695000.0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,51.004120,-3.086580,2.0,4.0,0.0,3.0,0.0,375000.0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [850]:
def to_end(value):
    return value

df_line_regression['new_price'] = df_line_regression['price'].apply(to_end)

In [851]:
df_line_regression = df_line_regression.drop('price', axis=1)

In [852]:
df_line_regression.head()

,latitude,longitude,num_bathrooms,num_bedrooms,num_floors,num_recepts,new_home,property_type_Barn conversion,property_type_Block of flats,property_type_Bungalow,...,post_town_Warminster,post_town_Watchet,post_town_Wedmore,post_town_Wellington,post_town_Wells,post_town_Weston-super-Mare,post_town_Wincanton,post_town_Winscombe,post_town_Yeovil,new_price
index,,,,,,,,,,,,,,,,,,,,,
0,51.282810,-2.473855,2.0,3.0,0.0,1.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,425000.0
1,51.352814,-2.983661,1.0,2.0,0.0,1.0,0.0,0,0,0,...,0,0,0,0,0,1,0,0,0,130000.0
2,51.349530,-2.973079,1.0,2.0,0.0,1.0,0.0,0,0,0,...,0,0,0,0,0,1,0,0,0,149950.0
3,50.933030,-2.842047,2.0,4.0,0.0,3.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,695000.0
4,51.004120,-3.086580,2.0,4.0,0.0,3.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,375000.0

In [853]:
data = np.array(df_line_regression)

In [854]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
StandardScaler(copy=True, with_mean=True, with_std=True)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [875]:
np.random.shuffle(data)
number_test = int(0.3 * len(data))
X = data[:,:-1]
Y = data[:,-1]
scaler.fit(X)
X = scaler.transform(X)

test_data = data[:number_test]
train_data = data[number_test:]
train_X = X[number_test:]
train_Y = Y[number_test:]
test_X = X[:number_test]
test_Y = Y[:number_test]

In [876]:
print(train_X.shape)
print(train_Y.shape)
print(test_X.shape)
print(test_Y.shape)

(4020, 138)
(4020,)
(1722, 138)
(1722,)

In [857]:
import sklearn
from sklearn.linear_model import LinearRegression

model = LinearRegression()

model.fit(train_X , train_Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [858]:
hat_Y = model.predict(test_X)

In [859]:
test_Y

array([450000., 325000., 279950., ..., 219950., 309995., 310000.])

In [860]:
hat_Y

array([586817., 309889., 346721., ..., 210497., 387201., 452721.])

In [861]:
model.score(test_X, test_Y)

-1.7581732444440462e+25

In [862]:
dataset = pd.DataFrame({'hat_Y':hat_Y,'test_Y':test_Y})

In [863]:
dataset.sort_values(by=['hat_Y'])

             hat_Y     test_Y
745  -1.773764e+19   565000.0
508  -1.679479e+18   850000.0
1032 -3.619156e+17   114950.0
499  -6.863900e+04    15000.0
1237 -2.521500e+04   270000.0
410  -1.855900e+04   225000.0
1134  8.449000e+03   170000.0
1054  4.172900e+04   190000.0
1629  4.371300e+04   149950.0
172   4.780900e+04   130000.0
664   4.825700e+04   137000.0
1517  4.864100e+04   109950.0
919   4.864100e+04    98000.0
554   4.876900e+04   102000.0
133   4.934500e+04    29950.0
999   4.998500e+04   134950.0
929   5.043300e+04   245000.0
1019  5.113700e+04    90000.0
249   5.324900e+04    89000.0
617   5.350500e+04   175000.0
1096  5.363300e+04    55000.0
407   5.414500e+04   100000.0
1036  5.465700e+04   113950.0
736   5.747300e+04    90000.0
500   5.747300e+04   100000.0
523   5.747300e+04    90000.0
218   5.782500e+04   107900.0
712   5.798500e+04    75000.0
189   5.798500e+04    70000.0
715   5.811300e+04    95000.0
...            ...        ...
1595  6.195210e+05   845000.0
399   6.216010e+05   585000.0
615   6.241290e+05   435000.0
1682  6.246890e+05   625000.0
1162  6.557450e+05  3000000.0
1270  6.621450e+05   700000.0
1635  6.696330e+05   750000.0
966   6.809130e+05   900000.0
447   6.862090e+05   525000.0
828   6.956010e+05   695000.0
214   6.984650e+05   565000.0
581   7.027850e+05   685000.0
1691  7.370570e+05   795000.0
497   7.463050e+05  1250000.0
969   7.528970e+05  1250000.0
1298  7.866890e+05   495000.0
1575  8.658570e+05  1200000.0
1477  8.943050e+05  1150000.0
1301  8.959370e+05   750000.0
1531  9.077610e+05   795000.0
446   9.267210e+05   550000.0
1247  1.032545e+06   495000.0
1086  1.052417e+06   995000.0
413   1.220609e+06  1875000.0
1294  1.221633e+06  1500000.0
579   1.307905e+06   499950.0
1374  3.818736e+17   272995.0
1343  1.563075e+18   230000.0
1502  2.463707e+18    15000.0
769   2.838409e+19    65000.0

[1722 rows x 2 columns]

In [864]:
dataset = dataset[dataset.hat_Y > 0]
dataset = dataset[dataset.hat_Y < 100000000]

In [865]:
hat_Y = np.array(dataset.hat_Y)
test_Y = np.array(dataset.test_Y)
(1- abs(hat_Y - test_Y)/test_Y).mean()

0.7526194755156687

## Neural Networks

In [1059]:
from sklearn.neural_network import MLPClassifier  

mlp = MLPClassifier(hidden_layer_sizes=(10, 10, 10, 10), max_iter=1000, alpha=1e-5)
mlp.fit(train_X, train_Y)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(10, 10, 10, 10), learning_rate='constant',
       learning_rate_init=0.001, max_iter=1000, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [1060]:
hat_Y = mlp.predict(test_X)

In [1061]:
test_X.shape

(1722, 138)

In [1062]:
test_Y.shape

(1722,)

In [1063]:
mlp.score(test_X, test_Y)

0.041811846689895474

In [1064]:
dataset = pd.DataFrame({'hat_Y':hat_Y,'test_Y':test_Y})
dataset.sort_values(by=['hat_Y']).sample(10)

         hat_Y    test_Y
1252  120000.0  155000.0
858    59950.0   99950.0
1272  275000.0  425000.0
75    125000.0  159950.0
1312  750000.0  220995.0
1046  375000.0  380000.0
192   120000.0   75000.0
426   194500.0  188995.0
1397  200000.0  175000.0
979   425000.0  475000.0

In [1065]:
(1- abs(hat_Y - test_Y)/test_Y).mean()

0.7008407844175304

## Random Forest Regressor

In [1050]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

regr = RandomForestRegressor(max_depth=20, random_state=0,  n_estimators=100)

In [1051]:
rf_regression = useful_information[['latitude','longitude','property_type', 'num_bathrooms', 'num_bedrooms','num_floors', 'num_recepts', 'outcode', 'post_town', 'new_home', 'price']]

In [1052]:
scaler = StandardScaler()
StandardScaler(copy=True, with_mean=True, with_std=True)

data = np.array(df_line_regression)
np.random.shuffle(data)
number_test = int(0.3 * len(data))
X = data[:,:-1]
Y = data[:,-1]
scaler.fit(X)
X = scaler.transform(X)

test_data = data[:number_test]
train_data = data[number_test:]
train_X = X[number_test:]
train_Y = Y[number_test:]
test_X = X[:number_test]
test_Y = Y[:number_test]

In [1053]:
print(train_X.shape)
print(train_Y.shape)
print(test_X.shape)
print(test_Y.shape)

(4020, 138)
(4020,)
(1722, 138)
(1722,)

In [1054]:
regr.fit(train_X, train_Y)
hat_Y = regr.predict(test_X)

In [1055]:
hat_Y

array([205371.69386182, 183374.44310653, 160932.45      , ...,
       361327.32961538, 372576.50788659, 358583.67892846])

In [1056]:
test_Y

array([280000., 159950., 230000., ..., 255000., 450000., 345000.])

In [1057]:
(1- abs(hat_Y - test_Y)/test_Y).mean()

0.7728914325930918

In [1058]:
regr.score(test_X, test_Y)

0.678774105199137