# Project Start Here

In [148]:
import requests as re
import pandas as pd
import numpy as np
import json
import math
from pandas.io.json import json_normalize

## get the data
---
- Get the data by api.
- Save the data as 'raw.csv', which is the raw data ready for data preporcessing.
---
Totaly 2,000 pics of data sorted by time from resent to past.

In [169]:
def get_data():
    zed_index = '?'
    include_sold = '1'
    page_number = 1
    listing_status = 'sale'
    page_size = '100'
    order_by = 'age'
    area = 'somerset'
    api_key = 'jwttfkz79asz2d9h8sms7tuu'
    for page_number in range(1, 59):
        url = f"http://api.zoopla.co.uk/api/v1/property_listings.js?zed_index=?&include_sold=1&page_number={page_number}&listing_status=sale&page_size=100&order_by=age&area=somerset&api_key=jwttfkz79asz2d9h8sms7tuu"
        response = re.get(url)
        df = json_normalize(response.json()['listing'])
        if page_number == 1:
            df.to_csv('raw.csv', index = False)
        else:
            df.to_csv('raw.csv', index = False, mode = 'a', header=False)

In [170]:
## Load Raw Data
get_data()

In [171]:
raw = pd.read_csv('raw.csv')

ParserError: Error tokenizing data. C error: Expected 43 fields in line 102, saw 45

In [168]:
raw

,agent_address,agent_logo,agent_name,agent_phone,category,country,country_code,county,description,details_url,...,price_change,price_change_summary.direction,price_change_summary.last_updated_date,price_change_summary.percent,price_modifier,property_type,short_description,status,street_name,thumbnail_url
0,"15 Sadler Street, Wells",https://st.zoocdn.com/zoopla_static_agent_logo...,Allen & Harris - Wells,01749 681031,Residential,England,gb,Somerset,SummaryA Charming period property located in t...,https://www.zoopla.co.uk/for-sale/details/4712...,...,"[{'direction': '', 'date': '2018-03-30 15:08:3...",down,2018-12-26 06:22:36,-8.8%,NaN,Flat,A Charming period property located in the cent...,for_sale,Chamberlain Street,https://lid.zoocdn.com/80/60/d29960dc0453e5663...
1,"Park 5 Park Road, Yeovil",https://st.zoocdn.com/zoopla_static_agent_logo...,Evolve,01935 590148,Residential,England,gb,Somerset,Detailed DescriptionA beautifully presented Gr...,https://www.zoopla.co.uk/for-sale/details/4710...,...,"[{'direction': '', 'date': '2018-03-29 15:23:0...",down,2019-01-04 09:28:44,-8.6%,NaN,Flat,A beautifully presented Ground Floor apartment...,for_sale,Wyndham Court,https://lid.zoocdn.com/80/60/0640ec51127c97a2f...
2,"16 Princes Street, Yeovil",https://st.zoocdn.com/zoopla_static_agent_logo...,Palmer Snell - Yeovil Sales,01935 590853,Residential,England,gb,Somerset,"This beautifully presented, three bedroom, Ham...",https://www.zoopla.co.uk/for-sale/details/4710...,...,"[{'direction': '', 'date': '2018-03-29 11:39:2...",down,2019-02-25 12:39:29,-8.3%,offers_over,End terrace house,"This beautifully presented, three bedroom, Ham...",sold,Stoke-Sub-Hamdon Somerset,https://lid.zoocdn.com/80/60/c6c0d656b4e6526d7...
3,"Corporation Street, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Robert Cooney,01823 760884,Residential,England,gb,Somerset,Requiring modernisation and improvement and on...,https://www.zoopla.co.uk/for-sale/details/4707...,...,"[{'direction': '', 'date': '2018-03-27 16:29:1...",down,2019-03-25 16:41:47,-17.6%,NaN,Detached bungalow,"<p class=""top"">Requiring modernisation and imp...",sold,Green Lane,https://lid.zoocdn.com/80/60/f5097a235d586cbb2...
4,"Corporation Street, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Robert Cooney,01823 760884,Residential,England,gb,Somerset,A rare opportunity to acquire a classic 1930's...,https://www.zoopla.co.uk/for-sale/details/4707...,...,"[{'direction': '', 'date': '2018-03-27 16:29:1...",down,2019-02-16 11:18:46,-20%,offers_over,Detached house,"<p class=""top"">A rare opportunity to acquire a...",sold,Mount Nebo,https://lid.zoocdn.com/80/60/3bc0a48e8218139e3...
5,"Corporation Street, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Robert Cooney,01823 760884,Residential,England,gb,Somerset,A spacious 3 double bedroomed South facing det...,https://www.zoopla.co.uk/for-sale/details/4707...,...,"[{'direction': '', 'date': '2018-03-27 16:29:0...",down,2018-07-04 16:05:40,-5.9%,NaN,Detached bungalow,"<p class=""top"">A spacious 3 double bedroomed S...",for_sale,Sweethay Close,https://lid.zoocdn.com/80/60/dba9162e4bde21f1a...
6,"Corporation Street, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Robert Cooney,01823 760884,Residential,England,gb,Somerset,In a quiet cul de sac location in this popular...,https://www.zoopla.co.uk/for-sale/details/4707...,...,"[{'direction': '', 'date': '2018-03-27 16:29:1...",down,2018-08-15 08:33:08,-5%,offers_over,Detached house,"<p class=""top"">In a quiet cul de sac location ...",for_sale,Lydeard Mead,https://lid.zoocdn.com/80/60/baf196278240cc07e...
7,"Corporation Street, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Robert Cooney,01823 760884,Residential,England,gb,Somerset,A light studio apartment with large picture wi...,https://www.zoopla.co.uk/for-sale/details/4707...,...,"[{'direction': '', 'date': '2018-03-27 16:29:0...",down,2018-07-03 12:17:56,-6.6%,NaN,Studio,"<p class=""top"">A light studio apartment with l...",sold,"Castlemoat Place, Corporation Street",https://lid.zoocdn.com/80/60/b63bedc0e176c1e1f...
8,"30 High Street, Glastonbury",https://st.zoocdn.com/zoopla_static_agent_logo...,Holland & Odam Ltd,01458 521920,Residential,England,gb,Somerset,A substantial and imposing Bed & Breakfast pro...,https://www.zoopla.co.uk/for-sale/details/4707...,...,"[{'direction': '', 'date': '2018-03-27 09:50:1...",NaN,NaN,NaN,NaN,Semi-detached house,"<p class=""top"">A substantial and imposing Bed ...",for_sale,5 Ashwell Lane,https://lid.zoocdn.com/80/60/39713c80716ae1a59...
9,"52 East Street, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Fox & Sons - Taunton,01823 429045,Residential,England,gb,Somerset,SummaryA spacious ground floor apartment situa...,https://www.zoopla.co.uk/for-sale/details/4705...,...,"[{'direction': '', 'date': '2018-03-26 12:10:2...",down,2018-05-17 15:44:09,-4.8%,NaN,Flat,A spacious ground floor apartment situated in ...,for_sale,Huntspill Road,https://lid.zoocdn.com/80/60/8439f5828dc64dc4b...
10,"10 Sadler Street, Wells",https://st.zoocdn.com/zoopla_static_agent_logo...,Killens,01749 587925,Residential,England,gb,Somerset,A delightful detached house which has been in ...,https://www.zoopla.co.uk/for-sale/details/4705...,...,"[{'direction': '', 'date': '2018-03-26 08:26:4...",down,2019-06-07 13:06:59,-4.3%,guide_price,Detached house,"<p class=""top"">A delightful detached house whi...",sold,NaN,https://lid.zoocdn.com/80/60/505b9e21c7fe3921d...
11,"Nationwide Estate Agent, Head Office: Suite 7,...",https://st.zoocdn.com/zoopla_static_agent_logo...,"Purplebricks, Head Office",024 7511 8874,Residential,England,gb,North Somerset,*** Don't miss out on this 1st floor apartment...,https://www.zoopla.co.uk/for-sale/details/4705...,...,"[{'direction': '', 'date': '2018-03-25 12:53:3...",down,2019-02-03 12:03:23,-3.2%,guide_price,Flat,*** Don't miss out on this 1st floor apartment...,for_sale,St. Pauls Road,https://lid.zoocdn.com/80/60/9f3ec361a44895f5d...
12,"32 Gay Street, Bath",https://st.zoocdn.com/zoopla_static_agent_logo...,Hamptons International - Bath Sales,01225 288618,Residential,England,gb,Bath & N E Somerset,The Grange is an impressive detached Victorian...,https://www.zoopla.co.uk/for-sale/details/4704...,...,"[{'direction': '', 'date': '2018-03-23 19:00:1...",NaN,NaN,NaN,guide_price,Detached house,The Grange is an impressive five bedroom detac...,for_sale,Midsomer Norton Somerset,https://lid.zoocdn.com/80/60/ee50653ee281ebb49...
13,"55 High Street, Wells",https://st.zoocdn.com/zoopla_static_agent_logo...,Holland & Odam Ltd.,01749 587927,Residential,England,gb,Somerset,Opportunity to acquire a pair of building plot...,https://www.zoopla.co.uk/for-sale/details/4703...,...,"[{'direction': '', 'date': '2018-03-23 13:43:5...",NaN,NaN,NaN,NaN,Land,"<p class=""top"">Opportunity to acquire a pair o...",for_sale,5 & 6 Church Cottages,https://lid.zoocdn.com/80/60/fded15788b62ed61b...
14,"35 Fore Street, Chard",https://st.zoocdn.com/zoopla_static_agent_logo...,Tarr Residential,01460 247031,Residential,England,gb,Somerset,"Sold by tarr residential, chard. A semi detach...",https://www.zoopla.co.uk/for-sale/details/4702...,...,"[{'direction': '', 'date': '2018-03-22 19:01:0...",down,2018-10-17 16:00:22,-15.3%,offers_over,Semi-detached house,"<p class=""top"">Sold by tarr residential, chard...",sold,Bondfield Way,https://lid.zoocdn.com/80/60/caed335a7beb162e5...
15,"7 High Street, Chard",https://st.zoocdn.com/zoopla_static_agent_logo...,Derbyshires Estate Agents,01460 247124,Residential,England,gb,Somerset,A linked detached cottage of grade II listed s...,https://www.zoopla.co.uk/for-sale/details/4701...,...,"[{'direction': '', 'date': '2018-03-21 16:03:3...",NaN,NaN,NaN,NaN,Detached house,"<p class=""top"">A linked detached cottage of gr...",for_sale,Church Path,https://lid.zoocdn.com/80/60/c0c50b8c2d59614f5...
16,"1 Howards Row, Fore Street, Chard",https://st.zoocdn.com/zoopla_static_agent_logo...,Savill Andrews Limited,01460 247041,Residential,England,gb,Somerset,Unusual town house offering living room and ki...,https://www.zoopla.co.uk/for-sale/details/4593...,...,"[{'direction': '', 'date': '2018-03-21 13:18:4...",down,2018-08-07 12:05:34,-10%,NaN,End terrace house,Unusual town house offering living room and ki...,sale_under_offer,Combe Street,https://lid.zoocdn.com/80/60/a142775012eccf53a...
17,"19 High Street, Wincanton",https://st.zoocdn.com/zoopla_static_agent_logo...,Hambledon Estate Agents,01963 392001,Residential,England,gb,Somerset,Location: Lamyatt lies in the glorious rolling...,https://www.zoopla.co.uk/for-sale/details/4909...,...,"[{'direction': '', 'date': '2018-03-20 19:04:3...",down,2018-12-31 06:13:39,-3.6%,NaN,Terraced house,An attractive three bedroom mid terrace period...,for_sale,NaN,https://lid.zoocdn.com/80/60/b974983aabc6d642d...
18,"21 Boulevard, Weston-super-Mare",https://st.zoocdn.com/zoopla_static_agent_logo...,Saxons,01934 247818,Residential,England,gb,North Somerset,A fantastic opportunity to purchase this hills...,https://www.zoopla.co.uk/for-sale/details/4699...,...,"[{'direction': '', 'date': '2018-03-20 10:07:4...",down,2019-03-21 13:04:37,-1.5%,offers_over,Detached house,"<p class=""top"">A fantastic opportunity to purc...",sold,Manor Valley,https://lid.zoocdn.com/80/60/f44c36c9cb812eaf8...
19,"29 St James Street, South Petherton",https://st.zoocdn.com/zoopla_static_agent_logo...,George James Properties,01460 312928,Residential,England,gb,Somerset,A Grade II listed two bedroom maisonette situa...,https://www.zoopla.co.uk/for-sale/details/4698...,...,"[{'direction': '', 'date': '2018-03-19 14:41:4...",down,2019-06-01 11:14:46,-13.3%,NaN,Maisonette,"<p class=""top"">A Grade II listed two bedroom m...",for_sale,Hayes End Manor,https://lid.zoocdn.com/80/60/fb24fbf0c210bcde7...
20,"34 Fore Street, Chard",https://st.zoocdn.com/zoopla_static_agent_logo...,Paul Fenton Estate Agents,01460 312959,Residential,England,gb,Somerset,Sale agreed by paul fenton estate agents with ...,https://www.zoopla.co.uk/for-sale/details/4697...,...,"[{'direction': '', 'date': '2018-03-19 10:09:5...",down,2018-10-25 09:43:56,-8%,guide_price,Detached house,"<p class=""top"">Sale agreed by paul fenton esta...",sold,Spicer Way,https://lid.zoocdn.com/80/60/12fe3793caafc8d92...
21,"3 Fore Street, Williton, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Red Deer Country Ltd,01984 636048,Residential,England,gb,Somerset,Charming Grade 2 listed character house though...,https://www.zoopla.co.uk/for-sale/details/4695...,...,"[{'direction': '', 'date': '2018-03-16 09:47:1...",NaN,NaN,NaN,guide_price,Terraced house,"<p class=""top"">Charming Grade 2 listed charact...",for_sale,6 High Street,https://lid.zoocdn.com/80/60/39278a11b29fcf17b...
22,"24 Bath Street, Frome",https://st.zoocdn.com/zoopla_static_agent_logo...,Rogers & Co,01373 470088,Residential,England,gb,Somerset,Last plot remaining! - Tadley Meadow is a smal...,https://www.zoopla.co.uk/for-sale/details/4758...,...,"[{'direction': '', 'date': '2018-03-14 20:11:4...",down,2019-03-27 14:54:51,-7%,offers_over,Semi-detached house,"<p class=""top"">Last plot remaining! - Tadley M...",sold,Tadley Meadow,https://lid.zoocdn.com/80/60/db5bac22fc98914fa...
23,"The Market Place, Somerton",https://st.zoocdn.com/zoopla_static_agent_logo...,Palmer Snell - Somerton,01458 521938,Residential,England,gb,Somerset,A rare opportunity to purchase a detached bung...,https://www.zoopla.co.uk/for-sale/details/4693...,...,"[{'direction': '', 'date': '2018-03-14 17:36:1...",down,2018-08-31 09:01:53,-13.2%,NaN,Bungalow,A rare opportunity to purchase a detached bung...,sold,Somerton Somerset,https://lid.zoocdn.com/80/60/c12cf4e38ef7770a8...
24,"2 Court Ash, Yeovil",https://st.zoocdn.com/zoopla_static_agent_logo...,Symonds & Sampson - Yeovil,01935 590011,Residential,England,gb,Somerset,"StUNNING two bedroom, two bathroom property ( ...",https://www.zoopla.co.uk/for-sale/details/4692...,...,"[{'direction': '', 'date': '2018-03-14 15:06:5...",down,2019-05-20 14:07:00,-3.3%,guide_price,Semi-detached house,"StUNNING two bedroom, two bathroom property ( ...",for_sale,Haselbury Plucknett Crewkerne Somerset,https://lid.zoocdn.com/80/60/e200bea65e64ccbd4...
25,"13 The Parade, Minehead",https://st.zoocdn.com/zoopla_static_agent_logo...,Fox & Sons - Minehead,01643 829001,Residential,England,gb,Somerset,SummaryLocated in a quiet backwater just off W...,https://www.zoopla.co.uk/for-sale/details/4690...,...,"[{'direction': '', 'date': '2018-03-13 10:12:5...",down,2019-02-07 18:38:32,-13.3%,NaN,NaN,Located in a quiet backwater just off Williton...,sold,Robert Street,https://lid.zoocdn.com/80/60/0be2af59359d675db...
26,"21 Boulevard, Weston-super-Mare",https://st.zoocdn.com/zoopla_static_agent_logo...,Saxons,01934 247818,Residential,England,gb,North Somerset,A stunningly presented detached cottage dating...,https://www.zoopla.co.uk/for-sale/details/4686...,...,"[{'direction': '', 'date': '2018-03-09 09:07:1...",NaN,NaN,NaN,offers_over,Detached house,"<p class=""top"">A stunningly presented detached...",for_sale,South Road,https://lid.zoocdn.com/80/60/3e239cda7a4d45e28...
27,"53 East Street, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Newton King,01823 760762,Residential,England,gb,Somerset,Key features:6 Bedroom Property Upstairs Bathr...,https://www.zoopla.co.uk/for-sale/details/4686...,...,"[{'direction': '', 'date': '2018-03-08 17:29:2...",down,2018-09-14 16:32:49,-10%,guide_price,Terraced house,Newton King are delighted to offer to the mark...,sold,Priory Avenue Taunton,https://lid.zoocdn.com/80/60/94cfe72b8f5ae96fe...
28,"10 Sadler Street, Wells",https://st.zoocdn.com/zoopla_static_agent_logo...,Killens,01749 587925,Residential,England,gb,Bath & N E Somerset,A spacious detached four-bedroom family home s...,https://www.zoopla.co.uk/for-sale/details/4685...,...,"[{'direction': '', 'date': '2018-03-08 14:07:0...",down,2019-02-25 09:16:35,-5.9%,guide_price,Detached house,"<p class=""top"">A spacious detached four-bedroo...",for_sale,NaN,https://lid.zoocdn.com/80/60/16b16b621bde957d3...
29,"21 Boulevard, Weston-super-Mare",https://st.zoocdn.com/zoopla_static_agent_logo...,Saxons,01934 247818,Residential,England,gb,North Somerset,If it is a Hillside property you are looking f...,https://www.zoopla.co.uk/for-sale/details/4685...,...,"[{'direction': '', 'date': '2018-03-08 13:07:4...",down,2018-09-17 17:07:27,-5.8%,NaN,Flat,"<p class=""top"">If it is a Hillside property yo...",for_sale,Maple Court,https://lid.zoocdn.com/80/60/dacae9f619a5a4250...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,"10 Sadler Street, Wells",https://st.zoocdn.com/zoopla_static_agent_logo...,Killens,01749 587925,Residential,England,gb,Somerset,An Award Winning beautifully designed four bed...,https://www.zoopla.co.uk/for-sale/details/4642...,...,2019-06-11 13:53:42,-10.1%,guide_price,Country house,"<p class=""top"">An Award Winning beautifully de...",sold,Grenville Court,https://lid.zoocdn.com/80/60/c839a9eedc949dba5...,NaN,NaN
139,"53 High Street, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Connells - Taunton,01823 429046,Residential,England,gb,Somerset,SummaryThis imposing four bedroom Executive ho...,https://www.zoopla.co.uk/for-sale/details/4337...,...,2018-12-20 13:18:47,-1.5%,offers_in_region_of,Detached house,This imposing four bedroom Executive home is l...,for_sale,Mead Way,https://lid.zoocdn.com/80/60/7edefe34c002c7520...,NaN,NaN
140,"2 Court Ash, Yeovil",https://st.zoocdn.com/zoopla_static_agent_logo...,Symonds & Sampson - Yeovil,01935 590011,Residential,England,gb,Somerset,A period Grade II Listed end terrace 3 bedroom...,https://www.zoopla.co.uk/for-sale/details/4331...,...,2018-05-30 12:56:24,-1.5%,offers_over,End terrace house,A period Grade II Listed end terrace 3 bedroom...,for_sale,Ilchester Yeovil Somerset,https://lid.zoocdn.com/80/60/5a1282de29f17912e...,NaN,NaN
141,"Business & Technology Centre, Shifnal Road, Pr...",https://st.zoocdn.com/zoopla_static_agent_logo...,Nu:Move International,01952 476548,Residential,England,gb,Somerset,Detailed DescriptionHurst manor | investment o...,https://www.zoopla.co.uk/for-sale/details/4330...,...,NaN,NaN,from,Flat,Hurst manor | investment opportunity Investmen...,for_sale,NaN,https://lid.zoocdn.com/80/60/69392a56282b65b1d...,NaN,NaN
142,"52 East Street, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Fox & Sons - Taunton,01823 429045,Residential,England,gb,Somerset,Summaryattention investors! An impressive and ...,https://www.zoopla.co.uk/for-sale/details/4318...,...,2018-11-15 07:49:06,0%,NaN,Flat,Attention investors! An impressive and well-pr...,for_sale,North Street,https://lid.zoocdn.com/80/60/960acb30ead8545e8...,NaN,NaN
143,"St George’s House, 56 Peter Street, Manchester",https://st.zoocdn.com/zoopla_static_agent_logo...,Express Estate Agency,0161 300 3987,Residential,England,gb,Somerset,Key features:No Chain Balcony Below Stamp Duty...,https://www.zoopla.co.uk/for-sale/details/4302...,...,2019-02-26 18:13:57,-16.6%,guide_price,Maisonette,The Express Estate Agency is proud to offer th...,sold,Illustrious Crescent Ilchester Yeovil,https://lid.zoocdn.com/80/60/dc291032680e628a9...,NaN,NaN
144,"39 High Street, Bridgwater",https://st.zoocdn.com/zoopla_static_agent_logo...,Charles Dickens Estate Agents,01278 285001,Residential,England,gb,Somerset,"Bush Road, Spaxton, Nr Bridgwater TA5 1BX prov...",https://www.zoopla.co.uk/for-sale/details/4302...,...,2019-02-19 17:16:57,-9%,NaN,Detached house,"Bush Road, Spaxton, Nr Bridgwater TA5 1BX prov...",for_sale,Bush Road,https://lid.zoocdn.com/80/60/ecce9adf30a8c3adf...,NaN,NaN
145,"10 Sadler Street, Wells",https://st.zoocdn.com/zoopla_static_agent_logo...,Killens,01749 587925,Residential,England,gb,Bath & N E Somerset,A unique opportunity to purchase a five bedroo...,https://www.zoopla.co.uk/for-sale/details/4642...,...,NaN,NaN,guide_price,Detached house,"<p class=""top"">A unique opportunity to purchas...",for_sale,Nedge Hill,https://lid.zoocdn.com/80/60/19afbe5414a2d90a4...,NaN,NaN
146,"49-50 East Street, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,"Bradleys Estate Agents, Taunton",01823 760017,Residential,England,gb,Somerset,A Delightful development of retirement homes w...,https://www.zoopla.co.uk/for-sale/details/4297...,...,2019-01-02 21:49:14,-25%,NaN,Flat,Call to book now! A Delightful development of ...,for_sale,Keeper Close Taunton Somerset,https://lid.zoocdn.com/80/60/aefbef728acb65951...,NaN,NaN
147,"13 The Parade, Minehead",https://st.zoocdn.com/zoopla_static_agent_logo...,Fox & Sons - Minehead,01643 829001,Residential,England,gb,Somerset,Summarythis elegant penthouse apartment offers...,https://www.zoopla.co.uk/for-sale/details/4281...,...,NaN,NaN,NaN,Flat,This elegant penthouse apartment offers except...,for_sale,Eversleigh,https://lid.zoocdn.com/80/60/ede4ef3180ba59774...,NaN,NaN
148,"13 The Parade, Minehead",https://st.zoocdn.com/zoopla_static_agent_logo...,Fox & Sons - Minehead,01643 829001,Residential,England,gb,Somerset,SummaryA beautifully renovated Grade II Listed...,https://www.zoopla.co.uk/for-sale/details/4211...,...,2019-04-02 13:36:35,-10%,NaN,NaN,A beautifully renovated Grade II Listed conver...,for_sale,St Thomas Street,https://lid.zoocdn.com/80/60/9c40e2339de086946...,NaN,NaN
149,"Agriculture House, Market Place, Sturminster N...",https://st.zoocdn.com/zoopla_static_agent_logo...,Symonds & Sampson - Sturminster,01258 470088,Residential,England,gb,Somerset,A semi-detached three bedroom property with Ag...,https://www.zoopla.co.uk/for-sale/details/4208...,...,2018-10-05 20:05:03,-50%,guide_price,NaN,A semi-detached three bedroom property with Ag...,for_sale,Wincanton Somerset,https://lid.zoocdn.com/80/60/3cb4cb50a741b1499...,NaN,NaN

### For get data testing
---
Testing the api and csv save method

In [116]:
zed_index = '?'
include_sold = '1'
page_number = 3
listing_status = 'sale'
page_size = '20'
order_by = 'age'
area = 'somerset'
api_key = 'jwttfkz79asz2d9h8sms7tuu'

url = 'http://api.zoopla.co.uk/api/v1/property_listings.js?zed_index=?&include_sold=1&page_number=58&listing_status=sale&page_size=100&order_by=age&area=somerset&api_key=jwttfkz79asz2d9h8sms7tuu'
response = re.get(url)
df = json_normalize(response.json()['listing'])
df['displayable_address']

0                         Silver Street, Ilminster TA19
1                            Quay Street, Minehead TA24
2     Beach Road, Weston Super Mare, North Somerset ...
3                Littlewell Cottages, Coxley, Wells BA5
4                 Maunsell Road, Weston-Super-Mare BS24
5                              Silver Street, Wells BA5
6                 Clevedon Road, Weston-Super-Mare BS23
7                           Walton Court, Minehead TA24
8                Preston Bowyer, Milverton, Taunton TA4
9                 Maunsell Road, Weston-Super-Mare BS24
10           Castle Hill, Nether Stowey, Bridgwater TA5
11           Castle Hill, Nether Stowey, Bridgwater TA5
12                            Bow Street, Langport TA10
13                                    Wookey, Wells BA5
14    Locking Road, Weston-Super-Mare, North Somerse...
15    Upper Church Road, Weston-Super-Mare, North So...
16                         Burrowbridge, Bridgwater TA7
17                          Western Lane, Minehead TA24
18                             Alfred Street, Wells BA5
19                       Ashcombe Court, Ilminster TA19
20                             Silver Street, Wells BA5
21                           Whiteball, Wellington TA21
22                    Magdalene Street, Glastonbury BA6
23    Greenacres Park, Coppits Hill, Yeovil, Somerse...
24                              Bathealton, Taunton TA4
25                           Monmouth Court, Chard TA20
26                       Brompton Regis, Dulverton TA22
27                   Priory Gardens, Burnham-On-Sea TA8
28                   Eden Croft, Weston-Super-Mare BS24
29                 Station Road, Weston-Super-Mare BS23
                            ...
39           Kingweston Road, Butleigh, Glastonbury BA6
40            Mead Way, Monkton Heathfield, Taunton TA2
41        High Street, Ilchester, Yeovil, Somerset BA22
42                            Hurst Manor, Martock TA12
43            North Town Lane, Wood Street, Taunton TA1
44    Illustrious Crescent, Ilchester, Yeovil, Somer...
45                   Bush Road, Spaxton, Bridgwater TA5
46             Nedge Hill, Chewton Mendip, Radstock BA3
47      Lock House, Keeper Close, Taunton, Somerset TA1
48             Eversleigh, The Esplanade, Minehead TA24
49             St Thomas Street, Dunster, Minehead TA24
50                    Maperton, Wincanton, Somerset BA9
51           Crown Lane, Creech Heathfield, Taunton TA3
52                           Warden Road, Minehead TA24
53                Ashleigh Road, Weston-Super-Mare BS23
54        Taunton Road, North Petherton, Bridgwater TA6
55                                         Watchet TA23
56                Atlantic Road, Weston-Super-Mare BS23
57          Celtic Way, Bleadon, Weston-Super-Mare BS24
58    Chilton Park (Ref 5365), Bridgwater, Somerset TA6
59                       Knole, Langport, Somerset TA10
60                            Robin Lane, Clevedon BS21
61           Birch Gardens, Bircham Road, Minehead TA24
62                          Axbridge Road, Cheddar BS27
63            Upper Church Road, Weston-Super-Mare BS23
64                          Hamilton Court, Taunton TA1
65                                 Ash Close, Wells BA5
66                    East Coker, Yeovil, Somerset BA22
67                 Locking Road, Weston-Super-Mare BS23
68                Hayes End Manor, South Petherton TA13
Name: displayable_address, Length: 69, dtype: object

# Data Preporcessing

In [117]:
raw.columns

Index(['agent_address', 'agent_logo', 'agent_name', 'agent_phone', 'category',
       'country', 'country_code', 'county', 'description', 'details_url',
       'displayable_address', 'first_published_date', 'floor_plan',
       'furnished_state', 'image_150_113_url', 'image_354_255_url',
       'image_50_38_url', 'image_645_430_url', 'image_80_60_url',
       'image_caption', 'image_url', 'last_published_date', 'latitude',
       'letting_fees', 'listing_id', 'listing_status',
       'location_is_approximate', 'longitude', 'new_home', 'num_bathrooms',
       'num_bedrooms', 'num_floors', 'num_recepts', 'outcode', 'post_town',
       'price', 'price_change', 'price_modifier', 'property_type',
       'short_description', 'status', 'street_name', 'thumbnail_url'],
      dtype='object')

In [156]:
useful_information = raw[['latitude', 'longitude', 'property_type','category', 'description', 'num_bathrooms', 'num_bedrooms','num_floors', 'num_recepts', 'outcode', 'post_town', 'street_name', 'new_home', 'price']].reset_index()

In [164]:
hot_place = useful_information[['latitude', 'longitude', 'price']]
hot_place.to_csv('hot_place.csv', index = False)
hot_place

       latitude  longitude   price
0     51.026470  -3.103359  120000
1     51.270325  -2.775121  370000
2     50.981876  -3.226012  200000
3     51.360435  -2.938179  219950
4     51.318280  -2.809450  659000
5     50.877384  -2.945940  350000
6     50.956654  -2.603365  170000
7     50.947227  -2.622901  160000
8     50.940390  -2.634381  150000
9     51.032870  -3.088850  169950
10    51.133640  -3.004764  189950
11    51.138570  -3.008688  169950
12    51.434610  -2.851325  270000
13    51.125538  -2.988927  197000
14    51.278393  -2.785265  220000
15    50.881140  -2.959549  175000
16    51.157486  -2.713600  230000
17    51.202988  -2.650522  310000
18    51.014687  -3.094212  230000
19    51.028690  -3.138805  245000
20    51.113870  -3.016936  230000
21    51.360540  -2.897348  300000
22    50.845260  -2.952861  280000
23    50.983772  -3.222500  359950
24    50.983772  -3.222500  239950
25    50.983772  -3.222500  424950
26    51.334400  -2.949878  320000
27    51.079414  -2.322511  850000
28    51.229343  -2.330677  190000
29    50.929638  -3.128714  850000
...         ...        ...     ...
5770  51.210434  -3.597403   59950
5771  51.171284  -2.782285  240000
5772  51.266933  -2.284808  825000
5773  51.281677  -2.775370  230000
5774  51.349083  -2.977148  185000
5775  51.208370  -2.649266  225000
5776  50.942287  -2.674815  275000
5777  51.033150  -3.081540  265995
5778  51.166622  -3.315878  295000
5779  51.039250  -3.193707  295000
5780  50.939922  -2.638175  200000
5781  51.220270  -2.982923   80000
5782  51.123850  -2.761464  269950
5783  50.957172  -2.625939  180000
5784  50.867460  -2.961499  180000
5785  50.874783  -2.955623   75000
5786  51.250590  -2.954411  275000
5787  51.018090  -3.078324  425000
5788  51.394974  -2.835713  499950
5789  51.172737  -3.484721  765000
5790  51.349133  -2.923661  139995
5791  50.942966  -2.622602  135000
5792  51.153090  -3.183388  640000
5793  51.355694  -2.991061  110000
5794  51.239307  -2.313516  950000
5795  51.122536  -2.978003  219950
5796  51.113800  -3.015549  210000
5797  51.202600  -3.105859  495000
5798  51.124460  -3.031501  380000
5799  50.952847  -2.647563  175000

[5800 rows x 3 columns]

In [157]:
def new_home(value):
    if math.isnan(value):
        return 0
    else:
        return 1
    
useful_information['new_home'] = useful_information['new_home'].apply(new_home)

In [158]:
useful_information

,index,latitude,longitude,property_type,category,description,num_bathrooms,num_bedrooms,num_floors,num_recepts,outcode,post_town,street_name,new_home,price
0,0,51.026470,-3.103359,Flat,Residential,"A spacious ground floor flat, available with n...",1,1,0,1,TA2,Taunton,Portman Street,0,120000
1,1,51.270325,-2.775121,Detached house,Residential,A good size detached house set on this sought ...,0,4,0,0,BS27,Cheddar,Charterhouse Close,0,370000
2,2,50.981876,-3.226012,Terraced house,Residential,This is a lovely spacious 3 bedroom terraced h...,1,3,0,2,TA21,Wellington,Drakes Park,0,200000
3,3,51.360435,-2.938179,Detached bungalow,Residential,One off design Detached Bungalow with accommod...,0,2,0,0,BS22,Weston-super-Mare,Whittington Drive,0,219950
4,4,51.318280,-2.809450,Detached house,Residential,Individual Detached HouseApprox 1/2 Acre of Gr...,0,4,0,0,BS25,Winscombe,Horseleaze Lane,0,659000
5,5,50.877384,-2.945940,Detached house,Residential,An extremely well presented detached 4 bedroom...,2,4,0,2,TA20,Chard,Caraway Close,0,350000
6,6,50.956654,-2.603365,End terrace house,Residential,Detailed DescriptionHidden away this two doubl...,2,2,0,1,BA21,Yeovil,Great Mead,0,170000
7,7,50.947227,-2.622901,Terraced house,Residential,Detailed DescriptionEvolve estate agents offer...,1,3,0,2,BA21,Yeovil,Grass Royal,0,160000
8,8,50.940390,-2.634381,Flat,Residential,Detailed DescriptionPositioned in the heart of...,1,3,0,1,BA20,Yeovil,Flowers House,0,150000
9,9,51.032870,-3.088850,Semi-detached house,Residential,This lovely two double bedroom Semi-Detached h...,1,2,0,1,TA2,Taunton,Buckland Road,0,169950
10,10,51.133640,-3.004764,Cottage,Residential,"Russell Place, Chilton Street, Bridgwater, TA6...",0,2,0,0,TA6,Bridgwater,Chilton Street,0,189950
11,11,51.138570,-3.008688,Semi-detached house,Residential,"Condell Close, Bridgwater, TA6 3TT provides a ...",0,2,0,0,TA6,Bridgwater,Condell Close,0,169950
12,12,51.434610,-2.851325,Terraced house,Residential,**open morning Saturday 29th June book your ap...,2,3,0,2,BS21,Clevedon,Kenn Road,0,270000
13,13,51.125538,-2.988927,End terrace house,Residential,PurpleBricks are delighted to offer for sale t...,1,5,0,1,TA6,Bridgwater,Loxleigh Avenue,0,197000
14,14,51.278393,-2.785265,NaN,Residential,*** semi-detached house *** two bedrooms *** l...,1,3,0,1,BS27,Cheddar,Gough Place,0,220000
15,15,50.881140,-2.959549,Bungalow,Residential,A well presented Two Bedroom Bungalow located ...,1,2,1,1,TA20,Chard,Langdon Close,0,175000
16,16,51.157486,-2.713600,Semi-detached bungalow,Residential,Extended two bedroom bungalow that has been we...,1,2,0,2,BA6,Glastonbury,Ferryman Road,0,230000
17,17,51.202988,-2.650522,End terrace house,Residential,Victorian property with potential to develop t...,1,3,0,2,BA5,Wells,Alfred Street,0,310000
18,18,51.014687,-3.094212,Semi-detached house,Residential,This is a stylish double fronted Grade II list...,1,2,0,2,TA1,Taunton,South Street,0,230000
19,19,51.028690,-3.138805,Semi-detached house,Residential,"This modern 4 bedroom, 2 bathroom semi detache...",2,4,0,1,TA2,Taunton,Dragon Rise,0,245000
20,20,51.113870,-3.016936,Semi-detached house,Residential,A superbly presented 3 double bedroom semi det...,2,3,0,2,TA5,Bridgwater,Barberry Drive,0,230000
21,21,51.360540,-2.897348,NaN,Residential,* Recently Extended * Beautifully modernised *...,0,2,0,1,BS22,Weston-super-Mare,Willow Gardens St. Georges,0,300000
22,22,50.845260,-2.952861,Link-detached house,Residential,A Well Presented Three Bedroom Link Detached F...,1,3,0,3,TA20,Chard,Langdons Way,0,280000
23,23,50.983772,-3.222500,Detached house,Residential,A brick built home With An Attractive Chalk Re...,0,4,3,2,TA21,Wellington,Taunton Road,1,359950
24,24,50.983772,-3.222500,Semi-detached house,Residential,5 star builder * 5 star customer satisfaction ...,0,3,2,2,TA21,Wellington,Taunton Road,1,239950
25,25,50.983772,-3.222500,Detached house,Residential,"A brick built three storey, four bedroom, town...",0,4,3,3,TA21,Wellington,Taunton Road,1,424950
26,26,51.334400,-2.949878,Detached house,Residential,Extended ground floor accommodation.......Set ...,0,4,0,0,BS24,Weston-super-Mare,Glider Avenue,0,320000
27,27,51.079414,-2.322511,Detached house,Residential,Brixeys Farm is situated in an elevated positi...,4,6,0,3,SP8,Gillingham,Bourton,0,850000
28,28,51.229343,-2.330677,Terraced house,Residential,Three bedroom terraced property located in a q...,1,3,0,2,BA11,Frome,Queens Road,0,190000
29,29,50.929638,-3.128714,Detached house,Residential,"If peace and privacy are important to you, thi...",3,5,0,3,TA3,Taunton,Taunton Somerset,0,850000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5770,5770,51.210434,-3.597403,Lodge,Residential,Summary** open weekend ** Friday 28 June - Sun...,1,2,0,1,TA24,Minehead,Highbank,0,59950
5771,5771,51.171284,-2.782285,Detached bungalow,Residential,"An individual detached bungalow, set back from...",1,2,0,1,BA6,Glastonbury,St Marys Road,0,240000
5772,5772,51.266933,-2.284808,Detached house,Residential,This individual stone built home was commissio...,2,4,0,4,BA11,Frome,Beckington Somerset,0,825000
5773,5773,51.281677,-2.775370,Bungalow,Residential,*** semi-detached bungalow *** wonderful locat...,1,2,0,1,BS27,Cheddar,Birch Close,0,230000
5774,5774,51.349083,-2.977148,Terraced house,Residential,Rachel J Homes is delighted to market this Wel...,1,3,0,2,BS23,Weston-super-Mare,Palmer Street,0,185000
5775,5775,51.208370,-2.649266,NaN,Residential,Unusually this ground floor apartment offers 3...,1,3,0,1,BA5,Wells,Union Street,0,225000
5776,5776,50.942287,-2.674815,Detached house,Residential,"""stunning detached house in sought after locat...",1,3,0,1,BA22,Yeovil,Highmere,0,275000
5777,5777,51.033150,-3.081540,Semi-detached house,Residential,"£5,000 deposit contribution when you reserve p...",2,3,2,1,TA2,Taunton,"Stubby Lane, Cheddon Fitzpaine, Taunton",1,265995
5778,5778,51.166622,-3.315878,Semi-detached bungalow,Residential,A large extended semi detached bungalow on a g...,1,3,0,2,TA4,Taunton,Long Lakes,0,295000
5779,5779,51.039250,-3.193707,Detached house,Residential,"This modern detached 3 double bedroom, 2 bathr...",2,3,0,1,TA4,Taunton,Burge Meadow,0,295000
5780,5780,50.939922,-2.638175,Semi-detached house,Residential,SummaryA superb family home situated in the he...,1,3,0,2,BA20,Yeovil,The Crescent,0,200000
5781,5781,51.220270,-2.982923,Land,Residential,An opportunity not to be missed! For Sale by P...,0,0,0,0,TA9,Highbridge,Clyce Road,0,80000
5782,5782,51.123850,-2.761464,Semi-detached house,Residential,Offered for sale with no onward chain is this ...,2,3,0,2,BA16,Street,Mildred Road,0,269950
5783,5783,50.957172,-2.625939,Semi-detached house,Residential,"""two bedroom semi detached bungalow in sought ...",1,2,0,1,BA21,Yeovil,Tower Road,0,180000
5784,5784,50.867460,-2.961499,Semi-detached house,Residential,A three bedroom semi detached house that requi...,1,3,0,1,TA20,Chard,King Alfred Drive,0,180000
5785,5785,50.874783,-2.955623,Flat,Residential,Second floor retirement apartment with outstan...,1,1,0,1,TA20,Chard,Victoria Court,0,75000
5786,5786,51.250590,-2.954411,Semi-detached house,Residential,A well presented 2 bed semi detached property ...,0,0,0,0,TA9,Highbridge,Church Lane,0,275000
5787,5787,51.018090,-3.078324,Detached house,Residential,An extended and well presented detached 1930's...,2,3,0,2,TA1,Taunton,Hamilton Road,0,425000
5788,5788,51.394974,-2.835713,Detached house,Residential,We are a 5 star builder * Superb family home i...,0,4,2,4,BS49,Bristol,Arnold's Way,1,499950
5789,5789,51.172737,-3.484721,Farmhouse,Residential,"A highly attractive, period four bedroom house...",0,4,0,0,TA24,Minehead,Timberscombe SOMERSET,0,765000
5790,5790,51.349133,-2.923661,Flat,Residential,A fantastic opportunity for A first time buyer...,0,1,0,0,BS24,Weston-super-Mare,Weston-Super-Mare North Somerset,0,139995
5791,5791,50.942966,-2.622602,Flat,Residential,Entrance door leading into the hall.Hall With ...,1,2,0,1,BA21,Yeovil,Wyndham Court,0,135000
5792,5792,51.153090,-3.183388,Detached house,Residential,"Key features:*Guide Price: £640,000 - £675,000...",0,4,0,0,TA5,Bridgwater,Dodington Nether Stowey Bridgwater,0,640000
5793,5793,51.355694,-2.991061,Flat,Residential,"Key features:*Guide Price: £110,000 - £115,000...",0,2,0,0,BS23,Weston-super-Mare,South Road Weston-Super-Mare,0,110000
5794,5794,51.239307,-2.313516,Detached house,Residential,*A substantial detached contemporary property ...,4,5,0,5,BA11,Frome,Bath Road,0,950000
5795,5795,51.122536,-2.978003,Semi-detached bungalow,Residential,"Crosswell Close, North Petherton, Bridgwater T...",0,2,0,0,TA6,Bridgwater,Crosswell Close,0,219950
5796,5796,51.113800,-3.015549,Semi-detached house,Residential,"Bilberry Lane, Wilstock, Bridgwater TA5 2GX pr...",0,3,0,0,TA5,Bridgwater,Bilberry Lane,0,210000
5797,5797,51.202600,-3.105859,Detached house,Residential,"Ridgeway Lane, Stolford, Nr Bridgwater TA5 1TN...",0,4,0,0,TA5,Bridgwater,Ridgeway Lane,0,495000
5798,5798,51.124460,-3.031501,Detached house,Residential,"Rosary Drive, Bridgwater TA6 7JS provides a su...",0,4,0,0,TA6,Bridgwater,Rosary Drive,0,380000
5799,5799,50.952847,-2.647563,Bungalow,Residential,This semi detached bungalow is in need of upda...,1,2,0,2,BA21,Yeovil,Yeovil Somerset,0,175000

In [126]:
cate = useful_information.drop_duplicates(['category'])
cate

,index,latitude,longitude,property_type,category,description,num_bathrooms,num_bedrooms,num_floors,num_recepts,outcode,post_town,street_name,new_home,price
0,0,51.02647,-3.103359,Flat,Residential,"A spacious ground floor flat, available with n...",1,1,0,1,TA2,Taunton,Portman Street,NaN,120000

In [127]:
property_type = useful_information.drop_duplicates(['property_type'])
property_type['property_type']

0                       Flat
1             Detached house
2             Terraced house
3          Detached bungalow
6          End terrace house
9        Semi-detached house
10                   Cottage
14                       NaN
15                  Bungalow
16    Semi-detached bungalow
22       Link-detached house
40                      Land
56                    Studio
61             Country house
70                     Lodge
89                 Farmhouse
Name: property_type, dtype: object

In [128]:
code = useful_information.drop_duplicates(['outcode'])
code['outcode']

0      TA2
1     BS27
2     TA21
3     BS22
4     BS25
5     TA20
6     BA21
8     BA20
10     TA6
12    BS21
16     BA6
17     BA5
18     TA1
20     TA5
26    BS24
27     SP8
28    BA11
29     TA3
32    TA12
37    TA13
38    BA22
40    TA18
42    BS40
45    TA10
47     BA4
55     BA9
56     TA8
60    BS23
69    TA24
78     TA4
81     TA9
82    BA16
88    BS49
Name: outcode, dtype: object

In [129]:
post_town = useful_information.drop_duplicates(['post_town'])
post_town['post_town']

0               Taunton
1               Cheddar
2            Wellington
3     Weston-super-Mare
4             Winscombe
5                 Chard
6                Yeovil
10           Bridgwater
12             Clevedon
16          Glastonbury
17                Wells
27           Gillingham
28                Frome
32              Martock
37      South Petherton
40            Crewkerne
42              Bristol
45             Langport
47       Shepton Mallet
55            Wincanton
56       Burnham-on-Sea
69             Minehead
81           Highbridge
82               Street
Name: post_town, dtype: object

In [130]:
street_name = useful_information.drop_duplicates(['street_name'])
street_name['street_name']

0                                Portman Street
1                            Charterhouse Close
2                                   Drakes Park
3                             Whittington Drive
4                               Horseleaze Lane
5                                 Caraway Close
6                                    Great Mead
7                                   Grass Royal
8                                 Flowers House
9                                 Buckland Road
10                               Chilton Street
11                                Condell Close
12                                    Kenn Road
13                              Loxleigh Avenue
14                                  Gough Place
15                                Langdon Close
16                                Ferryman Road
17                                Alfred Street
18                                 South Street
19                                  Dragon Rise
20                               Barberry Drive
21                   Willow Gardens St. Georges
22                                 Langdons Way
23                                 Taunton Road
26                                Glider Avenue
27                                      Bourton
28                                  Queens Road
29                             Taunton Somerset
30                                  Fore Street
31    Tavistock Road Weston-Super-Mare Somerset
                        ...
69                                 Bircham Road
70                                     Highbank
71                                St Marys Road
72                          Beckington Somerset
73                                  Birch Close
74                                Palmer Street
75                                 Union Street
76                                     Highmere
77      Stubby Lane, Cheddon Fitzpaine, Taunton
78                                   Long Lakes
79                                 Burge Meadow
80                                 The Crescent
81                                   Clyce Road
82                                 Mildred Road
83                                   Tower Road
84                            King Alfred Drive
85                               Victoria Court
87                                Hamilton Road
88                                 Arnold's Way
89                        Timberscombe SOMERSET
90             Weston-Super-Mare North Somerset
91                                Wyndham Court
92           Dodington Nether Stowey Bridgwater
93                 South Road Weston-Super-Mare
94                                    Bath Road
95                              Crosswell Close
96                                 Rosary Drive
97                                Bilberry Lane
98                                Ridgeway Lane
99                              Yeovil Somerset
Name: street_name, Length: 91, dtype: object

In [159]:
## one-hot encode
useful_information = pd.get_dummies(useful_information)

In [160]:
useful_information['new_home']

0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      1
24      1
25      1
26      0
27      0
28      0
29      0
       ..
5770    0
5771    0
5772    0
5773    0
5774    0
5775    0
5776    0
5777    1
5778    0
5779    0
5780    0
5781    0
5782    0
5783    0
5784    0
5785    0
5786    0
5787    0
5788    1
5789    0
5790    0
5791    0
5792    0
5793    0
5794    0
5795    0
5796    0
5797    0
5798    0
5799    0
Name: new_home, Length: 5800, dtype: int64

In [172]:
useful_information

,index,latitude,longitude,num_bathrooms,num_bedrooms,num_floors,num_recepts,new_home,price,property_type_Bungalow,...,street_name_Tower Road,street_name_Union Street,street_name_Victoria Court,street_name_Warminster Road,street_name_Weston-Super-Mare North Somerset,street_name_Whittington Drive,street_name_Willow Gardens St. Georges,street_name_Woodpecker Drive Worle,street_name_Wyndham Court,street_name_Yeovil Somerset
0,0,51.026470,-3.103359,1,1,0,1,0,120000,0,...,0,0,0,0,0,0,0,0,0,0
1,1,51.270325,-2.775121,0,4,0,0,0,370000,0,...,0,0,0,0,0,0,0,0,0,0
2,2,50.981876,-3.226012,1,3,0,2,0,200000,0,...,0,0,0,0,0,0,0,0,0,0
3,3,51.360435,-2.938179,0,2,0,0,0,219950,0,...,0,0,0,0,0,1,0,0,0,0
4,4,51.318280,-2.809450,0,4,0,0,0,659000,0,...,0,0,0,0,0,0,0,0,0,0
5,5,50.877384,-2.945940,2,4,0,2,0,350000,0,...,0,0,0,0,0,0,0,0,0,0
6,6,50.956654,-2.603365,2,2,0,1,0,170000,0,...,0,0,0,0,0,0,0,0,0,0
7,7,50.947227,-2.622901,1,3,0,2,0,160000,0,...,0,0,0,0,0,0,0,0,0,0
8,8,50.940390,-2.634381,1,3,0,1,0,150000,0,...,0,0,0,0,0,0,0,0,0,0
9,9,51.032870,-3.088850,1,2,0,1,0,169950,0,...,0,0,0,0,0,0,0,0,0,0
10,10,51.133640,-3.004764,0,2,0,0,0,189950,0,...,0,0,0,0,0,0,0,0,0,0
11,11,51.138570,-3.008688,0,2,0,0,0,169950,0,...,0,0,0,0,0,0,0,0,0,0
12,12,51.434610,-2.851325,2,3,0,2,0,270000,0,...,0,0,0,0,0,0,0,0,0,0
13,13,51.125538,-2.988927,1,5,0,1,0,197000,0,...,0,0,0,0,0,0,0,0,0,0
14,14,51.278393,-2.785265,1,3,0,1,0,220000,0,...,0,0,0,0,0,0,0,0,0,0
15,15,50.881140,-2.959549,1,2,1,1,0,175000,1,...,0,0,0,0,0,0,0,0,0,0
16,16,51.157486,-2.713600,1,2,0,2,0,230000,0,...,0,0,0,0,0,0,0,0,0,0
17,17,51.202988,-2.650522,1,3,0,2,0,310000,0,...,0,0,0,0,0,0,0,0,0,0
18,18,51.014687,-3.094212,1,2,0,2,0,230000,0,...,0,0,0,0,0,0,0,0,0,0
19,19,51.028690,-3.138805,2,4,0,1,0,245000,0,...,0,0,0,0,0,0,0,0,0,0
20,20,51.113870,-3.016936,2,3,0,2,0,230000,0,...,0,0,0,0,0,0,0,0,0,0
21,21,51.360540,-2.897348,0,2,0,1,0,300000,0,...,0,0,0,0,0,0,1,0,0,0
22,22,50.845260,-2.952861,1,3,0,3,0,280000,0,...,0,0,0,0,0,0,0,0,0,0
23,23,50.983772,-3.222500,0,4,3,2,1,359950,0,...,0,0,0,0,0,0,0,0,0,0
24,24,50.983772,-3.222500,0,3,2,2,1,239950,0,...,0,0,0,0,0,0,0,0,0,0
25,25,50.983772,-3.222500,0,4,3,3,1,424950,0,...,0,0,0,0,0,0,0,0,0,0
26,26,51.334400,-2.949878,0,4,0,0,0,320000,0,...,0,0,0,0,0,0,0,0,0,0
27,27,51.079414,-2.322511,4,6,0,3,0,850000,0,...,0,0,0,0,0,0,0,0,0,0
28,28,51.229343,-2.330677,1,3,0,2,0,190000,0,...,0,0,0,0,0,0,0,0,0,0
29,29,50.929638,-3.128714,3,5,0,3,0,850000,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5770,5770,51.210434,-3.597403,1,2,0,1,0,59950,0,...,0,0,0,0,0,0,0,0,0,0
5771,5771,51.171284,-2.782285,1,2,0,1,0,240000,0,...,0,0,0,0,0,0,0,0,0,0
5772,5772,51.266933,-2.284808,2,4,0,4,0,825000,0,...,0,0,0,0,0,0,0,0,0,0
5773,5773,51.281677,-2.775370,1,2,0,1,0,230000,1,...,0,0,0,0,0,0,0,0,0,0
5774,5774,51.349083,-2.977148,1,3,0,2,0,185000,0,...,0,0,0,0,0,0,0,0,0,0
5775,5775,51.208370,-2.649266,1,3,0,1,0,225000,0,...,0,1,0,0,0,0,0,0,0,0
5776,5776,50.942287,-2.674815,1,3,0,1,0,275000,0,...,0,0,0,0,0,0,0,0,0,0
5777,5777,51.033150,-3.081540,2,3,2,1,1,265995,0,...,0,0,0,0,0,0,0,0,0,0
5778,5778,51.166622,-3.315878,1,3,0,2,0,295000,0,...,0,0,0,0,0,0,0,0,0,0
5779,5779,51.039250,-3.193707,2,3,0,1,0,295000,0,...,0,0,0,0,0,0,0,0,0,0
5780,5780,50.939922,-2.638175,1,3,0,2,0,200000,0,...,0,0,0,0,0,0,0,0,0,0
5781,5781,51.220270,-2.982923,0,0,0,0,0,80000,0,...,0,0,0,0,0,0,0,0,0,0
5782,5782,51.123850,-2.761464,2,3,0,2,0,269950,0,...,0,0,0,0,0,0,0,0,0,0
5783,5783,50.957172,-2.625939,1,2,0,1,0,180000,0,...,1,0,0,0,0,0,0,0,0,0
5784,5784,50.867460,-2.961499,1,3,0,1,0,180000,0,...,0,0,0,0,0,0,0,0,0,0
5785,5785,50.874783,-2.955623,1,1,0,1,0,75000,0,...,0,0,1,0,0,0,0,0,0,0
5786,5786,51.250590,-2.954411,0,0,0,0,0,275000,0,...,0,0,0,0,0,0,0,0,0,0
5787,5787,51.018090,-3.078324,2,3,0,2,0,425000,0,...,0,0,0,0,0,0,0,0,0,0
5788,5788,51.394974,-2.835713,0,4,2,4,1,499950,0,...,0,0,0,0,0,0,0,0,0,0
5789,5789,51.172737,-3.484721,0,4,0,0,0,765000,0,...,0,0,0,0,0,0,0,0,0,0
5790,5790,51.349133,-2.923661,0,1,0,0,0,139995,0,...,0,0,0,0,1,0,0,0,0,0
5791,5791,50.942966,-2.622602,1,2,0,1,0,135000,0,...,0,0,0,0,0,0,0,0,1,0
5792,5792,51.153090,-3.183388,0,4,0,0,0,640000,0,...,0,0,0,0,0,0,0,0,0,0
5793,5793,51.355694,-2.991061,0,2,0,0,0,110000,0,...,0,0,0,0,0,0,0,0,0,0
5794,5794,51.239307,-2.313516,4,5,0,5,0,950000,0,...,0,0,0,0,0,0,0,0,0,0
5795,5795,51.122536,-2.978003,0,2,0,0,0,219950,0,...,0,0,0,0,0,0,0,0,0,0
5796,5796,51.113800,-3.015549,0,3,0,0,0,210000,0,...,0,0,0,0,0,0,0,0,0,0
5797,5797,51.202600,-3.105859,0,4,0,0,0,495000,0,...,0,0,0,0,0,0,0,0,0,0
5798,5798,51.124460,-3.031501,0,4,0,0,0,380000,0,...,0,0,0,0,0,0,0,0,0,0
5799,5799,50.952847,-2.647563,1,2,0,2,0,175000,1,...,0,0,0,0,0,0,0,0,0,1