# Project Start Here

In [107]:
import requests as re
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize

## get the data
---
- Get the data by api.
- Save the data as 'raw.csv', which is the raw data ready for data preporcessing.
---
Totaly 2,000 pics of data sorted by time from resent to past.

In [108]:
def get_data():
    zed_index = '?'
    include_sold = '1'
    page_number = 1
    listing_status = 'sale'
    page_size = '100'
    order_by = 'age'
    area = 'somerset'
    api_key = 'jwttfkz79asz2d9h8sms7tuu'
    for page_number in range(1, 59):
        url = f"http://api.zoopla.co.uk/api/v1/property_listings.js?zed_index=?&include_sold=1&page_number={page_number}&listing_status=sale&page_size=100&order_by=age&area=somerset&api_key=jwttfkz79asz2d9h8sms7tuu"
        response = re.get(url)
        df = json_normalize(response.json()['listing'])
        if page_number == 1:
            df.to_csv('raw.csv', index = False)
        else:
            df.to_csv('raw.csv', index = False, mode = 'a', header=False)

In [109]:
## Load Raw Data
get_data()

In [110]:
raw = pd.read_csv('raw.csv')

In [111]:
raw

,agent_address,agent_logo,agent_name,agent_phone,category,country,country_code,county,description,details_url,...,outcode,post_town,price,price_change,price_modifier,property_type,short_description,status,street_name,thumbnail_url
0,"Nationwide Estate Agent, Head Office: Suite 7,...",https://st.zoocdn.com/zoopla_static_agent_logo...,"Purplebricks, Head Office",024 7511 8874,Residential,England,gb,Somerset,"A spacious ground floor flat, available with n...",https://www.zoopla.co.uk/for-sale/details/5178...,...,TA2,Taunton,120000,"[{'direction': '', 'date': '2019-06-16 23:05:0...",NaN,Flat,"A spacious ground floor flat, available with n...",for_sale,Portman Street,https://lid.zoocdn.com/80/60/de5349f165b325e74...
1,"14 Gannet Road, Worle, Weston Super Mare",https://st.zoocdn.com/zoopla_static_agent_logo...,House Fox,01934 282950,Residential,England,gb,Somerset,A good size detached house set on this sought ...,https://www.zoopla.co.uk/for-sale/details/5178...,...,BS27,Cheddar,370000,"[{'direction': '', 'date': '2019-06-16 00:01:1...",NaN,Detached house,A good size detached house set on this sought ...,for_sale,Charterhouse Close,https://lid.zoocdn.com/80/60/4f241ccb65011b0ca...
2,"Nationwide Estate Agent, Head Office: Suite 7,...",https://st.zoocdn.com/zoopla_static_agent_logo...,"Purplebricks, Head Office",024 7511 8874,Residential,England,gb,Somerset,This is a lovely spacious 3 bedroom terraced h...,https://www.zoopla.co.uk/for-sale/details/5178...,...,TA21,Wellington,200000,"[{'direction': '', 'date': '2019-06-15 19:26:4...",NaN,Terraced house,This is a lovely spacious 3 bedroom terraced h...,for_sale,Drakes Park,https://lid.zoocdn.com/80/60/4f2b34005a6cc33b1...
3,"110 High Street, Worle, Weston-Super-Mare",https://st.zoocdn.com/zoopla_static_agent_logo...,Cooke & Co,01934 247816,Residential,England,gb,North Somerset,One off design Detached Bungalow with accommod...,https://www.zoopla.co.uk/for-sale/details/5178...,...,BS22,Weston-super-Mare,219950,"[{'direction': '', 'date': '2019-06-15 16:43:3...",NaN,Detached bungalow,One off design Detached Bungalow with accommod...,for_sale,Whittington Drive,https://lid.zoocdn.com/80/60/ae1c91fa8b722407a...
4,"30 Woodborough Road, Winscombe",https://st.zoocdn.com/zoopla_static_agent_logo...,Farrons Estate Agents,01934 247089,Residential,England,gb,North Somerset,Individual Detached HouseApprox 1/2 Acre of Gr...,https://www.zoopla.co.uk/for-sale/details/5178...,...,BS25,Winscombe,659000,"[{'direction': '', 'date': '2019-06-15 17:30:2...",NaN,Detached house,5 reception rooms. 4 double bedrooms &amp; 2 e...,for_sale,Horseleaze Lane,https://lid.zoocdn.com/80/60/db04ae945d8aa38b8...
5,"35 Fore Street, Chard",https://st.zoocdn.com/zoopla_static_agent_logo...,Tarr Residential,01460 247031,Residential,England,gb,Somerset,An extremely well presented detached 4 bedroom...,https://www.zoopla.co.uk/for-sale/details/5178...,...,TA20,Chard,350000,"[{'direction': '', 'date': '2019-06-15 17:14:0...",guide_price,Detached house,"<p class=""top"">An extremely well presented det...",for_sale,Caraway Close,https://lid.zoocdn.com/80/60/8c9410f8613c513cd...
6,"Park 5 Park Road, Yeovil",https://st.zoocdn.com/zoopla_static_agent_logo...,Evolve,01935 590148,Residential,England,gb,Somerset,Detailed DescriptionHidden away this two doubl...,https://www.zoopla.co.uk/for-sale/details/5178...,...,BA21,Yeovil,170000,"[{'direction': '', 'date': '2019-06-15 17:05:3...",NaN,End terrace house,Hidden away this two double bedroom end of ter...,for_sale,Great Mead,https://lid.zoocdn.com/80/60/8bfebfa62c5bb4072...
7,"Park 5 Park Road, Yeovil",https://st.zoocdn.com/zoopla_static_agent_logo...,Evolve,01935 590148,Residential,England,gb,Somerset,Detailed DescriptionEvolve estate agents offer...,https://www.zoopla.co.uk/for-sale/details/5178...,...,BA21,Yeovil,160000,"[{'direction': '', 'date': '2019-06-15 17:05:2...",offers_over,Terraced house,Evolve estate agents offer for sale this well ...,for_sale,Grass Royal,https://lid.zoocdn.com/80/60/39ca56ff735989d1d...
8,"Park 5 Park Road, Yeovil",https://st.zoocdn.com/zoopla_static_agent_logo...,Evolve,01935 590148,Residential,England,gb,Somerset,Detailed DescriptionPositioned in the heart of...,https://www.zoopla.co.uk/for-sale/details/5178...,...,BA20,Yeovil,150000,"[{'direction': '', 'date': '2019-06-15 17:05:2...",NaN,Flat,Positioned in the heart of town and located in...,for_sale,Flowers House,https://lid.zoocdn.com/80/60/0d70adabcd752308b...
9,"Prioryfield House, 20 Canon Street, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Taunton Property Centre,01823 760695,Residential,England,gb,Somerset,This lovely two double bedroom Semi-Detached h...,https://www.zoopla.co.uk/for-sale/details/5178...,...,TA2,Taunton,169950,"[{'direction': '', 'date': '2019-06-15 16:18:5...",NaN,Semi-detached house,"<p class=""top"">This lovely two double bedroom ...",for_sale,Buckland Road,https://lid.zoocdn.com/80/60/7f07f5754f96e19be...
10,"39 High Street, Bridgwater",https://st.zoocdn.com/zoopla_static_agent_logo...,Charles Dickens Estate Agents,01278 285001,Residential,England,gb,Somerset,"Russell Place, Chilton Street, Bridgwater, TA6...",https://www.zoopla.co.uk/for-sale/details/5178...,...,TA6,Bridgwater,189950,"[{'direction': '', 'date': '2019-06-15 14:22:1...",NaN,Cottage,"Russell Place, Chilton Street, Bridgwater, TA6...",for_sale,Chilton Street,https://lid.zoocdn.com/80/60/4dafb6c5d80bb346b...
11,"39 High Street, Bridgwater",https://st.zoocdn.com/zoopla_static_agent_logo...,Charles Dickens Estate Agents,01278 285001,Residential,England,gb,Somerset,"Condell Close, Bridgwater, TA6 3TT provides a ...",https://www.zoopla.co.uk/for-sale/details/5178...,...,TA6,Bridgwater,169950,"[{'direction': '', 'date': '2019-06-15 14:22:1...",NaN,Semi-detached house,"Condell Close, Bridgwater, TA6 3TT provides a ...",for_sale,Condell Close,https://lid.zoocdn.com/80/60/f5999a8c2b6242db7...
12,"5 The Triangle, Clevedon",https://st.zoocdn.com/zoopla_static_agent_logo...,Reeds Rains,01275 317943,Residential,England,gb,North Somerset,**open morning Saturday 29th June book your ap...,https://www.zoopla.co.uk/for-sale/details/5178...,...,BS21,Clevedon,270000,"[{'direction': '', 'date': '2019-06-15 13:29:3...",NaN,Terraced house,**open morning Saturday 29th June book your ap...,for_sale,Kenn Road,https://lid.zoocdn.com/80/60/70bf269a1c5bb4c77...
13,"Nationwide Estate Agent, Head Office: Suite 7,...",https://st.zoocdn.com/zoopla_static_agent_logo...,"Purplebricks, Head Office",024 7511 8874,Residential,England,gb,Somerset,PurpleBricks are delighted to offer for sale t...,https://www.zoopla.co.uk/for-sale/details/5178...,...,TA6,Bridgwater,197000,"[{'direction': '', 'date': '2019-06-15 12:36:5...",guide_price,End terrace house,PurpleBricks are delighted to offer for sale t...,for_sale,Loxleigh Avenue,https://lid.zoocdn.com/80/60/e87ab8d8cfb4c2453...
14,"2 Bath Street, Cheddar",https://st.zoocdn.com/zoopla_static_agent_logo...,Laurel and Wylde,01934 247808,Residential,England,gb,Somerset,*** semi-detached house *** two bedrooms *** l...,https://www.zoopla.co.uk/for-sale/details/5178...,...,BS27,Cheddar,220000,"[{'direction': '', 'date': '2019-06-15 12:26:0...",NaN,NaN,"<p class=""top"">*** semi-detached house *** two...",for_sale,Gough Place,https://lid.zoocdn.com/80/60/0df2e4c971c87544c...
15,"34 Fore Street, Chard",https://st.zoocdn.com/zoopla_static_agent_logo...,Paul Fenton Estate Agents,01460 312959,Residential,England,gb,Somerset,A well presented Two Bedroom Bungalow located ...,https://www.zoopla.co.uk/for-sale/details/5178...,...,TA20,Chard,175000,"[{'direction': '', 'date': '2019-06-15 11:48:2...",NaN,Bungalow,"<p class=""top"">A well presented Two Bedroom Bu...",for_sale,Langdon Close,https://lid.zoocdn.com/80/60/c37a78743f43ea3a2...
16,"30 High Street, Glastonbury",https://st.zoocdn.com/zoopla_static_agent_logo...,Holland & Odam Ltd,01458 521920,Residential,England,gb,Somerset,Extended two bedroom bungalow that has been we...,https://www.zoopla.co.uk/for-sale/details/5178...,...,BA6,Glastonbury,230000,"[{'direction': '', 'date': '2019-06-15 11:04:5...",NaN,Semi-detached bungalow,"<p class=""top"">Extended two bedroom bungalow t...",for_sale,Ferryman Road,https://lid.zoocdn.com/80/60/331cc0bbf47c526e5...
17,"55 High Street, Wells",https://st.zoocdn.com/zoopla_static_agent_logo...,Holland & Odam Ltd.,01749 587927,Residential,England,gb,Somerset,Victorian property with potential to develop t...,https://www.zoopla.co.uk/for-sale/details/5178...,...,BA5,Wells,310000,"[{'direction': '', 'date': '2019-06-15 11:03:4...",NaN,End terrace house,"<p class=""top"">Victorian property with potenti...",for_sale,Alfred Street,https://lid.zoocdn.com/80/60/5c5846350b36e3e63...
18,"Nationwide Estate Agent, Head Office: Suite 7,...",https://st.zoocdn.com/zoopla_static_agent_logo...,"Purplebricks, Head Office",024 7511 8874,Residential,England,gb,Somerset,This is a stylish double fronted Grade II list...,https://www.zoopla.co.uk/for-sale/details/5178...,...,TA1,Taunton,230000,"[{'direction': '', 'date': '2019-06-15 11:00:2...",NaN,Semi-detached house,This is a stylish double fronted Grade II list...,for_sale,South Street,https://lid.zoocdn.com/80/60/a790d4120a46707b9...
19,"Nationwide Estate Agent, Head Office: Suite 7,...",https://st.zoocdn.com/zoopla_static_agent_logo...,"Purplebricks, Head Office",024 7511 8874,Residential,England,gb,Somerset,"This modern 4 bedroom, 2 bathroom semi detache...",https://www.zoopla.co.uk/for-sale/details/5178...,...,TA2,Taunton,245000,"[{'direction': '', 'date': '2019-06-15 10:21:2...",NaN,Semi-detached house,"This modern 4 bedroom, 2 bathroom semi detache...",for_sale,Dragon Rise,https://lid.zoocdn.com/80/60/b589a0a9cf1ea275b...
20,"18 The Wyvern Centre, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Wilsons,01823 760769,Residential,England,gb,Somerset,A superbly presented 3 double bedroom semi det...,https://www.zoopla.co.uk/for-sale/details/5178...,...,TA5,Bridgwater,230000,"[{'direction': '', 'date': '2019-06-15 10:05:2...",NaN,Semi-detached house,"<p class=""top"">A superbly presented 3 double b...",for_sale,Barberry Drive,https://lid.zoocdn.com/80/60/1ef756fcbbe0eb4a6...
21,"Greystones House, 198 High Street Worle, Westo...",https://st.zoocdn.com/zoopla_static_agent_logo...,Bloxham & Barlow,01934 247815,Residential,England,gb,North Somerset,* Recently Extended * Beautifully modernised *...,https://www.zoopla.co.uk/for-sale/details/5178...,...,BS22,Weston-super-Mare,300000,"[{'direction': '', 'date': '2019-06-15 09:04:0...",NaN,NaN,* Recently Extended * Beautifully modernised *...,for_sale,Willow Gardens St. Georges,https://lid.zoocdn.com/80/60/7f72cd2669ef0d147...
22,"34 Fore Street, Chard",https://st.zoocdn.com/zoopla_static_agent_logo...,Paul Fenton Estate Agents,01460 312959,Residential,England,gb,Somerset,A Well Presented Three Bedroom Link Detached F...,https://www.zoopla.co.uk/for-sale/details/5178...,...,TA20,Chard,280000,"[{'direction': '', 'date': '2019-06-15 09:57:0...",NaN,Link-detached house,"<p class=""top"">A Well Presented Three Bedroom ...",for_sale,Langdons Way,https://lid.zoocdn.com/80/60/aa1e6bd7d87d6612e...
23,"Taunton Rd, Wellington, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Bloor Homes - Longforth Farm,NaN,Residential,England,gb,Somerset,A brick built home With An Attractive Chalk Re...,https://www.zoopla.co.uk/for-sale/details/5178...,...,TA21,Wellington,359950,NaN,NaN,Detached house,A brick built home With An Attractive Chalk Re...,for_sale,Taunton Road,https://lid.zoocdn.com/80/60/3291534effe1a7a4d...
24,"Taunton Rd, Wellington, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Bloor Homes - Longforth Farm,NaN,Residential,England,gb,Somerset,5 star builder * 5 star customer satisfaction ...,https://www.zoopla.co.uk/for-sale/details/5178...,...,TA21,Wellington,239950,NaN,NaN,Semi-detached house,5 star builder * 5 star customer satisfaction ...,for_sale,Taunton Road,https://lid.zoocdn.com/80/60/8c05e50ee058d449d...
25,"Taunton Rd, Wellington, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Bloor Homes - Longforth Farm,NaN,Residential,England,gb,Somerset,"A brick built three storey, four bedroom, town...",https://www.zoopla.co.uk/for-sale/details/5178...,...,TA21,Wellington,424950,NaN,NaN,Detached house,"A brick built three storey, four bedroom, town...",for_sale,Taunton Road,https://lid.zoocdn.com/80/60/eee2cb4d2db9d561c...
26,"14 Gannet Road, Worle, Weston Super Mare",https://st.zoocdn.com/zoopla_static_agent_logo...,House Fox,01934 282950,Residential,England,gb,North Somerset,Extended ground floor accommodation.......Set ...,https://www.zoopla.co.uk/for-sale/details/5178...,...,BS24,Weston-super-Mare,320000,"[{'direction': '', 'date': '2019-06-15 00:01:1...",NaN,Detached house,Extended ground floor accommodation.......Set ...,for_sale,Glider Avenue,https://lid.zoocdn.com/80/60/9abe85171353d2365...
27,"41 Milford Street, Salisbury",https://st.zoocdn.com/zoopla_static_agent_logo...,Strutt & Parker - Salisbury,01722 515922,Residential,England,gb,Dorset,Brixeys Farm is situated in an elevated positi...,https://www.zoopla.co.uk/for-sale/details/5177...,...,SP8,Gillingham,850000,"[{'direction': '', 'date': '2019-06-15 00:21:4...",guide_price,Detached house,A substantial period house with views over the...,for_sale,Bourton,https://lid.zoocdn.com/80/60/59e36843152e3e79c...
28,"Nationwide Estate Agent, Head Office: Suite 7,...",https://st.zoocdn.com/zoopla_static_agent_logo...,"Purplebricks, Head Office",024 7511 8874,Residential,England,gb,Somerset,Three bedroom terraced property located in a q...,https://www.zoopla.co.uk/for-sale/details/5177...,...,BA11,Frome,190000,"[{'direction': '', 'date': '2019-06-14 23:05:0...",NaN,Terraced house,Three bedroom terraced property located in a q...,for_sale,Queens Road,https://lid.zoocdn.com/80/60/678058e996a35f4c3...
29,"21 East Street, Ilminster",https://st.zoocdn.com/zoopla_static_agent_logo...,Symonds & Sampson - Ilminster,01460 312997,Residential,England,gb,Somerset,"If peace and privacy are important to you, thi...",https://www.zoopla.co.uk/for-sale/details/5177...,...,TA3,Taunton,850000,"[{'direction': '', 'date': '2019-06-14 17:45:0...",guide_price,Detached house,"If peace and privacy are important to you, thi...",for_sale,Taunton Somerset,https://lid.zoocdn.com/80/60/50e514b5dfe3d65a4...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5770,"13 The Parade, Minehead",https://st.zoocdn.com/zoopla_static_agent_logo...,Fox & Sons - Minehead,01643 829001,Residential,England,gb,Somerset,Summary** open weekend ** Friday 28 June - Sun...,https://www.zoopla.co.uk/for-sale/details/5177...,...,TA24,Minehead,59950,"[{'direction': '', 'date': '2019-06-14 13:18:0...",NaN,Lodge,** open weekend ** Friday 28 June - Sunday 30 ...,for_sale,Highbank,https://lid.zoocdn.com/80/60/61a399767a04c8c61...
5771,"30 High Street, Glastonbury",https://st.zoocdn.com/zoopla_static_agent_logo...,Holland & Odam Ltd,01458 521920,Residential,England,gb,Somerset,"An individual detached bungalow, set back from...",https://www.zoopla.co.uk/for-sale/details/5177...,...,BA6,Glastonbury,240000,"[{'direction': '', 'date': '2019-06-14 13:11:3...",NaN,Detached bungalow,"<p class=""top"">An individual detached bungalow...",for_sale,St Marys Road,https://lid.zoocdn.com/80/60/5413a06406d984bc6...
5772,"32 Gay Street, Bath",https://st.zoocdn.com/zoopla_static_agent_logo...,Hamptons International - Bath Sales,01225 288618,Residential,England,gb,Somerset,This individual stone built home was commissio...,https://www.zoopla.co.uk/for-sale/details/5177...,...,BA11,Frome,825000,"[{'direction': '', 'date': '2019-06-14 11:57:0...",guide_price,Detached house,Beckington has become a very fashionable villa...,for_sale,Beckington Somerset,https://lid.zoocdn.com/80/60/5235b14edb7ee4299...
5773,"2 Bath Street, Cheddar",https://st.zoocdn.com/zoopla_static_agent_logo...,Laurel and Wylde,01934 247808,Residential,England,gb,Somerset,*** semi-detached bungalow *** wonderful locat...,https://www.zoopla.co.uk/for-sale/details/5177...,...,BS27,Cheddar,230000,"[{'direction': '', 'date': '2019-06-14 13:04:5...",NaN,Bungalow,"<p class=""top"">*** semi-detached bungalow *** ...",for_sale,Birch Close,https://lid.zoocdn.com/80/60/2824ead12cf56fca1...
5774,"155 High Street, Worle, Weston-super-Mare",https://st.zoocdn.com/zoopla_static_agent_logo...,Rachel J Homes,01934 247008,Residential,England,gb,North Somerset,Rachel J Homes is delighted to market this Wel...,https://www.zoopla.co.uk/for-sale/details/5177...,...,BS23,Weston-super-Mare,185000,"[{'direction': '', 'date': '2019-06-14 11:15:3...",NaN,Terraced house,Well presented stone built terrace house..thre...,for_sale,Palmer Street,https://lid.zoocdn.com/80/60/95c5df9f9cab255ad...
5775,"55 High Street, Wells",https://st.zoocdn.com/zoopla_static_agent_logo...,Holland & Odam Ltd.,01749 587927,Residential,England,gb,Somerset,Unusually this ground floor apartment offers 3...,https://www.zoopla.co.uk/for-sale/details/5177...,...,BA5,Wells,225000,"[{'direction': '', 'date': '2019-06-14 12:39:1...",NaN,NaN,"<p class=""top"">Unusually this ground floor apa...",for_sale,Union Street,https://lid.zoocdn.com/80/60/854c413c1d030b069...
5776,"10-12 Princes Street, Yeovil",https://st.zoocdn.com/zoopla_static_agent_logo...,Chants Estate Agents,01935 388279,Residential,England,gb,Somerset,"""stunning detached house in sought after locat...",https://www.zoopla.co.uk/for-sale/details/5177...,...,BA22,Yeovil,275000,"[{'direction': '', 'date': '2019-06-14 12:29:3...",offers_over,Detached house,"<p class=""top""><strong>""stunning detached hous...",for_sale,Highmere,https://lid.zoocdn.com/80/60/7b3179971989dac84...
5777,"Priorswood, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Barratt Homes - Northwalls Grange,01823 760732,Residential,England,gb,Somerset,"£5,000 deposit contribution when you reserve p...",https://www.zoopla.co.uk/for-sale/details/5080...,...,TA2,Taunton,265995,NaN,NaN,Semi-detached house,"£5,000 deposit contribution when you reserve p...",for_sale,"Stubby Lane, Cheddon Fitzpaine, Taunton",https://lid.zoocdn.com/80/60/5f06b70442f63e68b...
5778,"PO Box 42, Cullompton",https://st.zoocdn.com/zoopla_static_agent_logo...,Homeweb Estate Agents,01884 824146,Residential,England,gb,Somerset,A large extended semi detached bungalow on a g...,https://www.zoopla.co.uk/for-sale/details/5177...,...,TA4,Taunton,295000,"[{'direction': '', 'date': '2019-06-14 12:25:1...",NaN,Semi-detached bungalow,A large extended semi detached bungalow on a g...,for_sale,Long Lakes,https://lid.zoocdn.com/80/60/e409c05ddeb35af11...
5779,"Nationwide Estate Agent, Head Office: Suite 7,...",https://st.zoocdn.com/zoopla_static_agent_logo...,"Purplebricks, Head Office",024 7511 8874,Residential,England,gb,Somerset,"This modern detached 3 double bedroom, 2 bathr...",https://www.zoopla.co.uk/for-sale/details/5177...,...,TA4,Taunton,295000,"[{'direction': '', 'date': '2019-06-14 12:13:2...",NaN,Detached house,"This modern detached 3 double bedroom, 2 bathr...",for_sale,Burge Meadow,https://lid.zoocdn.com/80/60/3e22f8a3df3865c09...
5780,"1-3 Princes Street, Yeovil",https://st.zoocdn.com/zoopla_static_agent_logo...,Connells - Yeovil,01935 388003,Residential,England,gb,Somerset,SummaryA superb family home situated in the he...,https://www.zoopla.co.uk/for-sale/details/5177...,...,BA20,Yeovil,200000,"[{'direction': '', 'date': '2019-06-14 11:50:0...",NaN,Semi-detached house,A superb family home situated in the heart of ...,for_sale,The Crescent,https://lid.zoocdn.com/80/60/4f6920b95839a8a00...

### For get data testing
---
Testing the api and csv save method

In [112]:
zed_index = '?'
include_sold = '1'
page_number = 3
listing_status = 'sale'
page_size = '20'
order_by = 'age'
area = 'somerset'
api_key = 'jwttfkz79asz2d9h8sms7tuu'

url = 'http://api.zoopla.co.uk/api/v1/property_listings.js?zed_index=?&include_sold=1&page_number=58&listing_status=sale&page_size=100&order_by=age&area=somerset&api_key=jwttfkz79asz2d9h8sms7tuu'
response = re.get(url)
df = json_normalize(response.json()['listing'])
df

,agent_address,agent_logo,agent_name,agent_phone,category,country,country_code,county,description,details_url,...,price_change,price_change_summary.direction,price_change_summary.last_updated_date,price_change_summary.percent,price_modifier,property_type,short_description,status,street_name,thumbnail_url
0,"8 Fore Street, Dulverton",https://st.zoocdn.com/zoopla_static_agent_logo...,Seddons - Dulverton,01398 687976,Residential,England,gb,Somerset,Introduction'Chidgeys Cottage' is a quaint and...,https://www.zoopla.co.uk/for-sale/details/4518...,...,"[{'direction': '', 'date': '2017-10-05 19:19:0...",down,2018-09-17 19:19:07,-9.7%,guide_price,Cottage,A mid terrace two bedroom cottage in need of u...,sold,Lower Park Lane,https://lid.zoocdn.com/80/60/d635ab2b664e845f2...
1,"10 Silver Street, Ilminster, Somerset",https://st.zoocdn.com/zoopla_static_agent_logo...,Tarr Residential,01460 312953,Residential,England,gb,Somerset,No onward chain. A 1 double bedroom retirement...,https://www.zoopla.co.uk/for-sale/details/4589...,...,"[{'direction': '', 'date': '2017-10-04 19:20:5...",down,2019-03-28 09:16:29,-30%,guide_price,Flat,"<p class=""top"">No onward chain. A 1 double bed...",for_sale,Victoria Court,https://lid.zoocdn.com/80/60/b2cc8f2fd7f430387...
2,"13 The Parade, Minehead",https://st.zoocdn.com/zoopla_static_agent_logo...,Fox & Sons - Minehead,01643 829001,Residential,England,gb,Somerset,SummaryLocated on Minehead sea front and a sho...,https://www.zoopla.co.uk/for-sale/details/4516...,...,"[{'direction': '', 'date': '2017-10-03 17:02:2...",down,2018-07-07 15:47:29,-2.9%,NaN,Cottage,Located on Minehead sea front and a short dist...,for_sale,Quay Street,https://lid.zoocdn.com/80/60/0639c5947c78ca6ae...
3,"Kings House, Greystoke Business Centre, Portis...",https://st.zoocdn.com/zoopla_static_agent_logo...,Kingsdale Group Limited,01275 317898,Residential,England,gb,North Somerset,"Retirement propertyA sunny, one bedroomed apar...",https://www.zoopla.co.uk/for-sale/details/4515...,...,"[{'direction': '', 'date': '2017-10-03 14:15:2...",down,2019-01-03 10:24:05,-11.6%,NaN,Flat,"Retirement property: A sunny, one bedroomed ap...",for_sale,Beach Road,https://lid.zoocdn.com/80/60/1faaced05174c5f4a...
4,"15 Sadler Street, Wells",https://st.zoocdn.com/zoopla_static_agent_logo...,Allen & Harris - Wells,01749 681031,Residential,England,gb,Somerset,SummaryThis property offers a fantastic invest...,https://www.zoopla.co.uk/for-sale/details/4512...,...,"[{'direction': '', 'date': '2017-09-29 08:14:3...",down,2018-12-26 06:22:40,-10.5%,offers_over,Detached house,This property offers a fantastic investment op...,for_sale,Littlewell Cottages,https://lid.zoocdn.com/80/60/5c5f8ff782982bb98...
5,"110 High Street, Worle, Weston-Super-Mare",https://st.zoocdn.com/zoopla_static_agent_logo...,Cooke & Co,01934 247816,Residential,England,gb,North Somerset,With easy access to transport links Cooke & Co...,https://www.zoopla.co.uk/for-sale/details/4509...,...,"[{'direction': '', 'date': '2017-09-25 16:31:5...",down,2018-01-18 17:29:30,-3.8%,NaN,Flat,With easy access to transport links Cooke &amp...,for_sale,Maunsell Road,https://lid.zoocdn.com/80/60/ff4554b45d5ea7b90...
6,"55 High Street, Wells",https://st.zoocdn.com/zoopla_static_agent_logo...,Holland & Odam Ltd.,01749 587927,Residential,England,gb,Somerset,A well presented first floor apartment within ...,https://www.zoopla.co.uk/for-sale/details/4583...,...,"[{'direction': '', 'date': '2017-09-22 19:02:5...",NaN,NaN,NaN,NaN,,"<p class=""top"">A well presented first floor ap...",for_sale,Silver Street,https://lid.zoocdn.com/80/60/10d9f6f786c097cba...
7,"21 Boulevard, Weston-super-Mare",https://st.zoocdn.com/zoopla_static_agent_logo...,Saxons,01934 247818,Residential,England,gb,North Somerset,A very spacious first floor flat located withi...,https://www.zoopla.co.uk/for-sale/details/4505...,...,"[{'direction': '', 'date': '2017-09-21 12:07:2...",down,2019-02-20 17:07:37,-3.8%,NaN,Flat,"<p class=""top"">A very spacious first floor fla...",sold,Clevedon Road,https://lid.zoocdn.com/80/60/e057004aff1979bed...
8,"9 Park Street, Minehead",https://st.zoocdn.com/zoopla_static_agent_logo...,Pointer Properties,01643 829048,Residential,England,gb,Somerset,Attention all landlords gross 6.6% return on y...,https://www.zoopla.co.uk/for-sale/details/4503...,...,"[{'direction': '', 'date': '2017-09-19 11:09:0...",NaN,NaN,NaN,NaN,Flat,Attention all landlords gross 6.6% return on y...,sold,Walton Court,https://lid.zoocdn.com/80/60/5e28c099e38af2059...
9,"14 High Street, Wellington",https://st.zoocdn.com/zoopla_static_agent_logo...,Fox & Sons - Wellington,01823 429047,Residential,England,gb,Somerset,SummaryA superb detached Somerset Long House d...,https://www.zoopla.co.uk/for-sale/details/3899...,...,"[{'direction': '', 'date': '2015-11-04 08:12:3...",NaN,NaN,NaN,offers_over,,A superb detached Somerset Long House dating b...,for_sale,Preston Bowyer,https://lid.zoocdn.com/80/60/85ec3239b74750e8e...
10,"13 Waterloo Street, Weston-Super-Mare",https://st.zoocdn.com/zoopla_static_agent_logo...,Stephen & Co,01934 611064,Residential,England,gb,North Somerset,Located on the edge of the Weston Village deve...,https://www.zoopla.co.uk/for-sale/details/4501...,...,"[{'direction': '', 'date': '2017-09-16 10:06:3...",down,2018-01-12 13:24:48,-3.8%,NaN,Flat,"<p class=""top"">Located on the edge of the West...",for_sale,Maunsell Road,https://lid.zoocdn.com/80/60/59696cf97beaee168...
11,"53 High Street, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Connells - Taunton,01823 429046,Residential,England,gb,Somerset,SummaryThis brand new four double bedroom deta...,https://www.zoopla.co.uk/for-sale/details/4496...,...,"[{'direction': '', 'date': '2017-09-11 14:56:2...",down,2017-10-23 13:24:43,-5%,NaN,Detached house,This brand new four double bedroom detached ex...,for_sale,Castle Hill,https://lid.zoocdn.com/80/60/db6143db59606ad09...
12,"53 High Street, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Connells - Taunton,01823 429046,Residential,England,gb,Somerset,SummaryThis brand new four double bedroom deta...,https://www.zoopla.co.uk/for-sale/details/4495...,...,"[{'direction': '', 'date': '2017-09-09 08:55:2...",down,2017-10-23 12:24:59,-5%,NaN,Detached house,This brand new four double bedroom detached ex...,sold,Castle Hill,https://lid.zoocdn.com/80/60/8d94155357acdfb80...
13,"Nationwide Estate Agent, Head Office: Suite 7,...",https://st.zoocdn.com/zoopla_static_agent_logo...,"Purplebricks, Head Office",024 7511 8874,Residential,England,gb,Somerset,Wonderfully cute town cottage in a fantastic l...,https://www.zoopla.co.uk/for-sale/details/4491...,...,"[{'direction': '', 'date': '2017-09-05 16:18:1...",down,2017-09-21 20:00:08,-4.1%,NaN,End terrace house,Wonderfully cute town cottage in a fantastic l...,for_sale,Bow Street,https://lid.zoocdn.com/80/60/5d6e25baa89c6dcbc...
14,"10 Sadler Street, Wells",https://st.zoocdn.com/zoopla_static_agent_logo...,Killens,01749 587925,Residential,England,gb,Somerset,*From the 7th of November 2018 the property is...,https://www.zoopla.co.uk/for-sale/details/4642...,...,"[{'direction': '', 'date': '2017-08-21 19:08:4...",down,2019-01-24 16:07:59,-32.7%,NaN,,"<p class=""top"">*From the 7th of November 2018 ...",sold,,https://lid.zoocdn.com/80/60/6d37bcf6a4cce1d87...
15,"34 High Street, Yatton",https://st.zoocdn.com/zoopla_static_agent_logo...,Hunters - Yatton,01934 247813,Residential,England,gb,North Somerset,This is the perfect time to purchase an excell...,https://www.zoopla.co.uk/for-sale/details/4814...,...,NaN,NaN,NaN,NaN,guide_price,Terraced house,This is the perfect time to purchase an excell...,for_sale,Weston-Super-Mare North Somerset,https://lid.zoocdn.com/80/60/d8b1c4a60a6c08ab5...
16,"34 High Street, Yatton",https://st.zoocdn.com/zoopla_static_agent_logo...,Hunters - Yatton,01934 247813,Residential,England,gb,North Somerset,Popular location in Weston-super-Mare. This ol...,https://www.zoopla.co.uk/for-sale/details/4814...,...,"[{'direction': '', 'date': '2017-08-16 16:01:5...",NaN,NaN,NaN,guide_price,Terraced house,Popular location in Weston-super-Mare. This ol...,for_sale,Weston-Super-Mare North Somerset,https://lid.zoocdn.com/80/60/f06fff3b794951764...
17,"22 Arlington Street, St James's, London",https://st.zoocdn.com/zoopla_static_agent_logo...,Yopa,01322 584475,Residential,England,gb,Somerset,This is a rare opportunity to acquire a beauti...,https://www.zoopla.co.uk/for-sale/details/4475...,...,"[{'direction': '', 'date': '2017-08-16 17:49:0...",NaN,NaN,NaN,NaN,Detached house,This extremely versatile 9 bedroom detached ho...,for_sale,Tbc,https://lid.zoocdn.com/80/60/fd9d47b7452f6d2d2...
18,"9 Park Street, Minehead",https://st.zoocdn.com/zoopla_static_agent_logo...,Pointer Properties,01643 829048,Residential,England,gb,Somerset,This is a rare opportunity to acquire a four b...,https://www.zoopla.co.uk/for-sale/details/4472...,...,"[{'direction': '', 'date': '2017-08-14 11:29:2...",NaN,NaN,NaN,guide_price,,Pointer Properties are delighted to offer for ...,for_sale,The Carbery,https://lid.zoocdn.com/80/60/d6311f23a1da03c15...
19,"55 High Street, Wells",https://st.zoocdn.com/zoopla_static_agent_logo...,Holland & Odam Ltd.,01749 587927,Residential,England,gb,Somerset,An extended Victorian house set in a no throug...,https://www.zoopla.co.uk/for-sale/details/4583...,...,"[{'direction': '', 'date': '2017-08-10 18:55:3...",down,2019-04-30 15:26:56,-2%,NaN,Terraced house,"<p class=""top"">An extended Victorian house set...",for_sale,Alfred Street,https://lid.zoocdn.com/80/60/6637cdf4f08dbf147...
20,"Pipe House, Lupton Road, Wallingford",https://st.zoocdn.com/zoopla_static_agent_logo...,Cognatum Property Limited,01491 738122,Residential,England,gb,Somerset,"A delightful, one-bedroom, first floor, apartm...",https://www.zoopla.co.uk/for-sale/details/4584...,...,"[{'direction': '', 'date': '2017-08-04 18:51:4...",down,2019-02-20 11:26:24,-2.9%,guide_price,Flat,"<p class=""top"">A delightful, one-bedroom, firs...",for_sale,Ashcombe Court,https://lid.zoocdn.com/80/60/c8704fd24a07ba286...
21,"55 High Street, Wells",https://st.zoocdn.com/zoopla_static_agent_logo...,Holland & Odam Ltd.,01749 587927,Residential,England,gb,Somerset,Light & airy second floor apartment set in a p...,https://www.zoopla.co.uk/for-sale/details/4583...,...,"[{'direction': '', 'date': '2017-07-31 20:00:5...",NaN,NaN,NaN,NaN,,"<p class=""top"">Light &amp; airy second floor a...",for_sale,Silver Street,https://lid.zoocdn.com/80/60/5c78f89b6e40a917e...
22,"Nationwide Estate Agent, Head Office: Suite 7,...",https://st.zoocdn.com/zoopla_static_agent_logo...,"Purplebricks, Head Office",024 7511 8874,Residential,England,gb,Somerset,An outstanding private country house in superb...,https://www.zoopla.co.uk/for-sale/details/4452...,...,"[{'direction': '', 'date': '2017-07-22 09:05:4...",down,2019-03-31 07:48:20,-18.9%,offers_over,Country house,An outstanding private country house in superb...,for_sale,Whiteball,https://lid.zoocdn.com/80/60/568495fc4b354ca9e...
23,"30 High Street, Glastonbury",https://st.zoocdn.com/zoopla_static_agent_logo...,Holland & Odam Ltd,01458 521920,Residential,England,gb,Somerset,A one bedroom ground floor retirement apartmen...,https://www.zoopla.co.uk/for-sale/details/4585...,...,"[{'direction': '', 'date': '2017-07-20 18:48:4...",down,2019-03-15 10:47:45,-17.8%,NaN,,"<p class=""top"">A one bedroom ground floor reti...",sold,Magdalene Street,https://lid.zoocdn.com/80/60/cb17093dbf6dfbe2a...
24,"183 VICTORIA ROAD, ALDERSHOT",https://st.zoocdn.com/zoopla_static_agent_logo...,Seekers,01252 926858,Residential,England,gb,Somerset,2 bedroom park homeBuilt in 2011 by Prestige40...,https://www.zoopla.co.uk/for-sale/details/4441...,...,"[{'direction': '', 'date': '2017-07-11 09:07:0...",NaN,NaN,NaN,NaN,Mobile/park home,2 bedroom park home on semi retirement park 50...,for_sale,"Greenacres Park, Coppits Hill",https://lid.zoocdn.com/80/60/cb30a788ce1cf9524...
25,"4 Fore Street, Bampton",https://st.zoocdn.com/zoopla_static_agent_logo...,Seddons - Bampton,01398 687977,Residential,England,gb,Somerset,IntroductionLong Meadow Farm is a fantastic pr...,https://www.zoopla.co.uk/for-sale/details/4427...,...,"[{'direction': '', 'date': '2017-06-27 19:19:0...",NaN,NaN,NaN,offers_in_region_of,Detached house,Look around with our virtual tour! A stunning ...,sold,Hellings Cross,https://lid.zoocdn.com/80/60/f95f5ef4414102e32...
26,"35 Fore Street, Chard",https://st.zoocdn.com/zoopla_static_agent_logo...,Tarr Residential,01460 247031,Residential,England,gb,Somerset,"Sold STC by tarr residential, chard. A spaciou...",https://www.zoopla.co.uk/for-sale/details/4583...,...,"[{'direction': '', 'date': '2017-06-26 20:00:4...",down,2019-05-28 12:26:25,-2.9%,guide_price,Detached house,"<p class=""top"">Sold STC by tarr residential, c...",sold,Monmouth Court,https://lid.zoocdn.com/80/60/0abe270166d2ca640...
27,"8 Fore Street, Dulverton",https://st.zoocdn.com/zoopla_static_agent_logo...,Seddons - Dulverton,01398 687976,Residential,England,gb,Somerset,"Introduction'Byre Cottage', a former stable, i...",https://www.zoopla.co.uk/for-sale/details/4415...,...,"[{'direction': '', 'date': '2017-06-14 19:19:0...",down,2019-04-08 20:19:06,-5%,guide_price,Terraced bungalow,An attractive one bedroom holiday cottage situ...,sold,Draydon Cottages,https://lid.zoocdn.com/80/60/0d9ab925e5220e0d6...
28,"Nationwide Estate Agent, Head Office: Suite 7,...",https://st.zoocdn.com/zoopla_static_agent_logo...,"Purplebricks, Head Office",024 7511 8874,Residential,England,gb,Somerset,Are pleased to offer this immaculate 2 double...,https://www.zoopla.co.uk/for-sale/details/4415...,...,"[{'direction': '', 'date': '2017-06-14 13:35:1...",NaN,NaN,NaN,guide_price,Flat,Are pleased to offer this immaculate 2 double ...,for_sale,Priory Gardens,https://lid.zoocdn.com/80/60/ce19d8a07d69aa81e...
29,"13 Waterloo Street, Weston-Super-Mare",https://st.zoocdn.com/zoopla_static_agent_logo...,Stephen & Co,01934 611064,Residential,England,gb,North Somerset,Located on this modern development on the outs...,https://www.zoopla.co.uk/for-sale/details/4413...,...,"[{'direction': '', 'date': '2017-06-13 11:25:2...",down,2018-09-04 16:18:45,-15.6%,offers_over,Detached house,"<p class=""top"">Located on this modern developm...",sold,Eden Croft,https://lid.zoocdn.com/80/60/545c6207a8eabcdf6...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40,"10 Sadler Street, Wells",https://st.zoocdn.com/zoopla_static_agent_logo...,Killens,01749 587925,Residential,England,gb,Somerset,An Award Winning beautifully designed four bed...,https://www.zoopla.co.uk/for-sale/details/4642...,...,"[{'direction': '', 'date': '2017-03-31 19:08:5...",down,2019-06-11 13:53:42,-10.1%,guide_price,Country house,"<p class=""top"">An Award Winning beautifully de...",sold,Grenville Court,https://lid.zoocdn.com/80/60/c839a9eedc949dba5...
41,"53 High Street, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Connells - Taunton,01823 429046,Residential,England,gb,Somerset,SummaryThis imposing four bedroom Executive ho...,https://www.zoopla.co.uk/for-sale/details/4337...,...,"[{'direction': '', 'date': '2017-03-28 11:21:0...",down,2018-12-20 13:18:47,-1.5%,offers_in_region_of,Detached house,This imposing four bedroom Executive home is l...,for_sale,Mead Way,https://lid.zoocdn.com/80/60/7edefe34c002c7520...
42,"2 Court Ash, Yeovil",https://st.zoocdn.com/zoopla_static_agent_logo...,Symonds & Sampson - Yeovil,01935 590011,Residential,England,gb,Somerset,A period Grade II Listed end terrace 3 bedroom...,https://www.zoopla.co.uk/for-sale/details/4331...,...,"[{'direction': '', 'date': '2017-03-22 11:48:2...",down,2018-05-30 12:56:24,-1.5%,offers_over,End terrace house,A period Grade II Listed end terrace 3 bedroom...,for_sale,Ilchester Yeovil Somerset,https://lid.zoocdn.com/80/60/5a1282de29f17912e...
43,"Business & Technology Centre, Shifnal Road, Pr...",https://st.zoocdn.com/zoopla_static_agent_logo...,Nu:Move International,01952 476548,Residential,England,gb,Somerset,Detailed DescriptionHurst manor | investment o...,https://www.zoopla.co.uk/for-sale/details/4330...,...,"[{'direction': '', 'date': '2017-03-21 13:59:3...",NaN,NaN,NaN,from,Flat,Hurst manor | investment opportunity Investmen...,for_sale,,https://lid.zoocdn.com/80/60/69392a56282b65b1d...
44,"52 East Street, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,Fox & Sons - Taunton,01823 429045,Residential,England,gb,Somerset,Summaryattention investors! An impressive and ...,https://www.zoopla.co.uk/for-sale/details/4318...,...,"[{'direction': '', 'date': '2017-03-09 17:06:2...",,2018-11-15 07:49:06,0%,NaN,Flat,Attention investors! An impressive and well-pr...,for_sale,North Street,https://lid.zoocdn.com/80/60/960acb30ead8545e8...
45,"St George’s House, 56 Peter Street, Manchester",https://st.zoocdn.com/zoopla_static_agent_logo...,Express Estate Agency,0161 300 3987,Residential,England,gb,Somerset,Key features:No Chain Balcony Below Stamp Duty...,https://www.zoopla.co.uk/for-sale/details/4302...,...,"[{'direction': '', 'date': '2017-02-20 18:01:0...",down,2019-02-26 18:13:57,-16.6%,guide_price,Maisonette,The Express Estate Agency is proud to offer th...,sold,Illustrious Crescent Ilchester Yeovil,https://lid.zoocdn.com/80/60/dc291032680e628a9...
46,"39 High Street, Bridgwater",https://st.zoocdn.com/zoopla_static_agent_logo...,Charles Dickens Estate Agents,01278 285001,Residential,England,gb,Somerset,"Bush Road, Spaxton, Nr Bridgwater TA5 1BX prov...",https://www.zoopla.co.uk/for-sale/details/4302...,...,"[{'direction': '', 'date': '2017-02-20 17:35:5...",down,2019-02-19 17:16:57,-9%,NaN,Detached house,"Bush Road, Spaxton, Nr Bridgwater TA5 1BX prov...",for_sale,Bush Road,https://lid.zoocdn.com/80/60/ecce9adf30a8c3adf...
47,"10 Sadler Street, Wells",https://st.zoocdn.com/zoopla_static_agent_logo...,Killens,01749 587925,Residential,England,gb,Bath & N E Somerset,A unique opportunity to purchase a five bedroo...,https://www.zoopla.co.uk/for-sale/details/4642...,...,"[{'direction': '', 'date': '2017-02-17 20:09:0...",NaN,NaN,NaN,guide_price,Detached house,"<p class=""top"">A unique opportunity to purchas...",for_sale,Nedge Hill,https://lid.zoocdn.com/80/60/19afbe5414a2d90a4...
48,"49-50 East Street, Taunton",https://st.zoocdn.com/zoopla_static_agent_logo...,"Bradleys Estate Agents, Taunton",01823 760017,Residential,England,gb,Somerset,A Delightful development of retirement homes w...,https://www.zoopla.co.uk/for-sale/details/4297...,...,"[{'direction': '', 'date': '2017-02-14 19:09:1...",down,2019-01-02 21:49:14,-25%,NaN,Flat,Call to book now! A Delightful development of ...,for_sale,Keeper Close Taunton Somerset,https://lid.zoocdn.com/80/60/aefbef728acb65951...
49,"13 The Parade, Minehead",https://st.zoocdn.com/zoopla_static_agent_logo...,Fox & Sons - Minehead,01643 829001,Residential,England,gb,Somerset,Summarythis elegant penthouse apartment offers...,https://www.zoopla.co.uk/for-sale/details/4281...,...,"[{'direction': '', 'date': '2017-01-30 11:34:3...",NaN,NaN,NaN,NaN,Flat,This elegant penthouse apartment offers except...,for_sale,Eversleigh,https://lid.zoocdn.com/80/60/ede4ef3180ba59774...
50,"13 The Parade, Minehead",https://st.zoocdn.com/zoopla_static_agent_logo...,Fox & Sons - Minehead,01643 829001,Residential,England,gb,Somerset,SummaryA beautifully renovated Grade II Listed...,https://www.zoopla.co.uk/for-sale/details/4211...,...,"[{'direction': '', 'date': '2016-11-02 17:23:4...",down,2019-04-02 13:36:35,-10%,NaN,,A beautifully renovated Grade II Listed conver...,for_sale,St Thomas Street,https://lid.zoocdn.com/80/60/9c40e2339de086946...

# Data Preporcessing

In [51]:
raw.columns

Index(['agent_address', 'agent_logo', 'agent_name', 'agent_phone', 'category',
       'country', 'country_code', 'county', 'description', 'details_url',
       'displayable_address', 'first_published_date', 'floor_plan',
       'furnished_state', 'image_150_113_url', 'image_354_255_url',
       'image_50_38_url', 'image_645_430_url', 'image_80_60_url',
       'image_caption', 'image_url', 'last_published_date', 'latitude',
       'letting_fees', 'listing_id', 'listing_status',
       'location_is_approximate', 'longitude', 'num_bathrooms', 'num_bedrooms',
       'num_floors', 'num_recepts', 'outcode', 'post_town', 'price',
       'price_change', 'price_modifier', 'property_type', 'short_description',
       'status', 'street_name', 'thumbnail_url'],
      dtype='object')

In [98]:
useful_information = raw[['property_type','category', 'description', 'num_bathrooms', 'num_bedrooms','num_floors', 'num_recepts', 'outcode', 'post_town', 'street_name', 'price']].reset_index()

In [99]:
cate = useful_information.drop_duplicates(['category'])
cate

,index,property_type,category,description,num_bathrooms,num_bedrooms,num_floors,num_recepts,outcode,post_town,street_name,price
0,0,Flat,Residential,"A spacious ground floor flat, available with n...",1,1,0,1,TA2,Taunton,Portman Street,120000

In [100]:
property_type = useful_information.drop_duplicates(['property_type'])
property_type['property_type']

0                   Flat
1         Detached house
2         Terraced house
3      Detached bungalow
8      End terrace house
9    Semi-detached house
Name: property_type, dtype: object

In [101]:
code = useful_information.drop_duplicates(['outcode'])
code['outcode']

0     TA2
1    BS27
2    TA21
3    BS22
4    BS25
5    TA20
6    BA21
7    BA20
Name: outcode, dtype: object

In [102]:
post_town = useful_information.drop_duplicates(['post_town'])
post_town['post_town']

0              Taunton
1              Cheddar
2           Wellington
3    Weston-super-Mare
4            Winscombe
5                Chard
6               Yeovil
Name: post_town, dtype: object

In [103]:
street_name = useful_information.drop_duplicates(['street_name'])
street_name['street_name']

0        Portman Street
1    Charterhouse Close
2           Drakes Park
3     Whittington Drive
4       Horseleaze Lane
5         Caraway Close
6           Grass Royal
7         Flowers House
8            Great Mead
9         Buckland Road
Name: street_name, dtype: object

In [105]:
## one-hot encode
useful_information = pd.get_dummies(useful_information)

In [106]:
useful_information

,index,num_bathrooms,num_bedrooms,num_floors,num_recepts,price,property_type_Detached bungalow,property_type_Detached house,property_type_End terrace house,property_type_Flat,...,street_name_Buckland Road,street_name_Caraway Close,street_name_Charterhouse Close,street_name_Drakes Park,street_name_Flowers House,street_name_Grass Royal,street_name_Great Mead,street_name_Horseleaze Lane,street_name_Portman Street,street_name_Whittington Drive
0,0,1,1,0,1,120000,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1,1,0,4,0,0,370000,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
2,2,1,3,0,2,200000,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,3,0,2,0,0,219950,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,4,0,4,0,0,659000,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
5,5,2,4,0,2,350000,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
6,6,1,3,0,2,160000,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
7,7,1,3,0,1,150000,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
8,8,2,2,0,1,170000,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
9,9,1,2,0,1,169950,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
10,10,1,1,0,1,120000,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
11,11,0,4,0,0,370000,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
12,12,1,3,0,2,200000,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
13,13,0,2,0,0,219950,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14,14,0,4,0,0,659000,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
15,15,2,4,0,2,350000,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
16,16,1,3,0,2,160000,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
17,17,1,3,0,1,150000,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
18,18,2,2,0,1,170000,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
19,19,1,2,0,1,169950,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
20,20,1,1,0,1,120000,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
21,21,0,4,0,0,370000,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
22,22,1,3,0,2,200000,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
23,23,0,2,0,0,219950,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
24,24,0,4,0,0,659000,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
25,25,2,4,0,2,350000,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
26,26,1,3,0,2,160000,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
27,27,1,3,0,1,150000,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
28,28,2,2,0,1,170000,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
29,29,1,2,0,1,169950,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
940,940,1,1,0,1,120000,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
941,941,0,4,0,0,370000,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
942,942,1,3,0,2,200000,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
943,943,0,2,0,0,219950,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
944,944,0,4,0,0,659000,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
945,945,2,4,0,2,350000,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
946,946,1,3,0,1,150000,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
947,947,2,2,0,1,170000,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
948,948,1,3,0,2,160000,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
949,949,1,2,0,1,169950,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
950,950,1,1,0,1,120000,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
951,951,0,4,0,0,370000,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
952,952,1,3,0,2,200000,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
953,953,0,2,0,0,219950,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
954,954,0,4,0,0,659000,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
955,955,2,4,0,2,350000,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
956,956,1,3,0,1,150000,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
957,957,2,2,0,1,170000,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
958,958,1,3,0,2,160000,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
959,959,1,2,0,1,169950,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
960,960,1,1,0,1,120000,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
961,961,0,4,0,0,370000,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
962,962,1,3,0,2,200000,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
963,963,0,2,0,0,219950,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
964,964,0,4,0,0,659000,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
965,965,2,4,0,2,350000,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
966,966,1,3,0,2,160000,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
967,967,1,3,0,1,150000,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
968,968,2,2,0,1,170000,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
969,969,1,2,0,1,169950,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0